[2017-08-06 21:50] StepLg opened #1 "Broken navigation with Tab/Shift+Tab hotkeys"
If set up TAB for next search result (and Shift-Tab for previous, but I suspect any combination with TAB doesn't work properly), navigation seems to be broken.

![capture](https://user-images.githubusercontent.com/167098/29007358-439b87ac-7ab6-11e7-9c1a-0e6886708f98.PNG)

Here is the result after TAB is pressed one time. Further TAB strokes moves only filled triangle. If at the same time other hot

[2017-08-06 22:00] StepLg commented on #1
nevermind, that was a conflict in hotkeys with another plugin that didn't work correctly.

[2017-08-06 22:00] #1 closed

[2017-08-09 14:45] geniusupgrader opened #3 "Alternative Focus on input search"
There should be a shortcut to jump to the input search and immediately add some words to the search.
Like it was with google instant, just typing for adding words to the input search. But maybe this is not working with the api?

[2017-08-09 14:47] infokiller commented on #3
Would something like `A` (shift+a) work for you here?
(A was chosen because it's similar to the same command in vim).

[2017-08-09 14:49] geniusupgrader commented on #3
I'm not a fan of vim. Best Solution is to let the users change the shortcuts.
But do as you wish, you are the maintainer.

[2017-08-09 14:51] infokiller commented on #3
Yes, adding customization in the options should be easy, I meant that `A` will be the default.
Just to make sure I understand, you want to be able to type this shortcut and then the search box will get focus and the cursor will be at the end of the current text?

[2017-08-09 16:09] rik-smeets commented on #3
@infokiller Feel free to contact me if you're low on time to do this. I can also make the changes if requested. Since I really appreciate you making this extension to begin with, I like to help out further extending or improving it :).

[2017-08-10 11:11] geniusupgrader opened #6 "How to go to the next page?"
With the keyboard shortcuts, I can't reach the next page or the following pages.
Maybe right (next) and left (previous) should switch between the pages?

Unfortunately, it is also not working with [these Extensions](https://www.gtricks.com/google/automatically-load-next-google-search-results-page/).

[2017-08-10 11:19] geniusupgrader opened #7 "Switch to images, Maps and the other "tabs""
At the top of google there are these "tabs", don't know how you call them.
It would be awesome to switch from the search results to the images page from a shortcut, keeping the search input. So for example searching for "flowers" yield the (normal) list of webpages, hitting ctrl+right  and turning to the images page, would display pictures of flowers.
The shortcuts "ctrl+right" and "ctrl+left" are

[2017-08-10 12:11] infokiller commented on #7
Yes, I totally agree that this will be a useful feature. May take 1-2 weeks till I personally can get around to doing and testing this properly. I'll update this issue.

[2017-08-10 12:14] infokiller commented on #6
Currently indeed there is no way to go the next/previous pages.
I personally use vimium which has this feature for general websites and it also works in google search (`]]` for next, `]]` for previous).
I think it shouldn't be hard to do this- I'll update the issue once I start looking on implementing this.

[2017-08-10 12:16] infokiller commented on #3
Thanks @rik-smeets !

I'm a bit low on time right now, but I think I'll have time to do a batch of improvements (addressing other issues too) in a few (4-5) weeks.

@geniusupgrader
Let's wait for more feedback (keep these issues coming!) and I'll try to address most/all of them in the next batch of improvements.

[2017-08-10 12:27] infokiller opened #8 "Add stackoverflow links to README and webstore description"
For example, [this one](https://webapps.stackexchange.com/questions/108098/navigate-google-search-purely-with-keyboard-without-google-instant/108491#108491).

[2017-08-12 12:12] rik-smeets commented on #6
This issue is partly resolved by #5. That change makes it possibly to go to the next page, but not back. However the changes from #5 are not available in the Chrome Web Store yet.

[2017-08-15 20:17] infokiller opened #10 "Support encrypted.google.com"

[2017-08-21 02:21] greeven opened #11 "Navigate to other tab"
The readme.md says there are shortcuts for switching to the image/video tab.

That doesn't work yet.

[2017-08-21 02:22] greeven opened #12 "Hitting space opens search result."
It should set the focus to the search bar.

[2017-08-21 02:23] #12 closed

[2017-08-21 07:17] infokiller commented on #11
Yes, sorry for that, the navigation changes are not released yet (I want to test them more before I release them).

This is a duplicate of #9 so I'm closing it- you can subscribe to #9 to be notified when it's done.

[2017-08-21 07:17] #11 closed

[2017-08-21 19:25] dogancelik commented on #10
Waiting for this

[2017-08-24 10:06] infokiller opened #13 "Look into porting this to Firefox"

[2017-08-25 14:12] yfdyh000 commented on #13
After adding the https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications, looks works.

[2017-08-25 20:24] Cimbali commented on #13
Well I tried, even with adding `applications`  to the manifest, doesn't seem to work out of the box.

[2017-08-25 20:31] yfdyh000 commented on #13
It works for me. Check errors and warnings in [browser console](https://developer.mozilla.org/en-US/docs/Tools/Browser_Console)?

[2017-08-26 07:09] rik-smeets opened #14 "Look into porting this to Microsoft Edge"
I will look into this when I have time (probably in about 1-2 weeks).

[2017-08-26 07:10] rik-smeets commented on #7
@infokiller, what is your status on testing the changes of my pull request allowing this?

[2017-08-26 08:06] #10 closed

[2017-08-26 08:06] infokiller commented on #7
@rik-smeets sorry for the delay, I'm now releasing the new version.

[2017-08-26 08:09] infokiller commented on #7
Just released it, should be available in the webstore within an hour

[2017-08-26 08:09] #8 closed

[2017-08-26 08:09] #7 closed

[2017-08-26 17:51] rik-smeets commented on #14
I made a working version of this on my local machine. I only needed to change the CSS and add an "Author" to the manifest file. However, packaging for the Windows Store is of course very different. How would you like to handle this @infokiller?

I could just open a PR for those two changes, which should also be compatible with Google Chrome (I will test this beforehand of course), and package the

[2017-08-26 18:11] Cimbali commented on #13
Yeah it's not the most explicit error message. On loading a google page (after having loaded the plugin) the console reports:

I'm running Firefox ESR 52.2.1 (64-bit) on linux (openSUSE).

[2017-08-27 08:41] infokiller commented on #14
Thanks for doing this @rik-smeets !
I very rarely run windows on my machine these days, so if you can open the PR and package it yourself that would be great. Also worth mentioning that Edge is not "officially" supported (at least I won't be able to respond to issues in a reasonable time).

Side note: feel free to add yourself as an author or give yourself credit wherever you want (README, manifes

[2017-08-27 10:21] #6 closed

[2017-08-29 17:41] Dawa12 commented on #3
@infokiller I too love to see this feature added! Love the extension!

[2017-09-26 12:17] mancze commented on #13
I can't live without this extension and there is no way I'm migrating to Chrome. Hence I'm willing to make this work in Firefox.

I have added `applications` key to the `manifest.json` file as suggested by yfdyh000 and loaded the temporary extension via `web-ext` npm module. The extension works for me. Tested on version 55.0.3 (64-bit) on Windows 10.

The extension needs its id in order to use `ch

[2017-09-26 13:39] mancze commented on #13
So it seems there are two options:

*1) use `applications` key*

In such case such manifest file would be incompatible (or would trigger warning to be more precise) with Chrome. So it would be good idea to have either two manifest files and keep them in sync (duplicity - bad) or have a script which would prepare the sources for the Firefox (better).

The script would either create a separate copy

[2017-09-26 17:09] infokiller commented on #13
Thanks a lot for the detailed writeup @mancze !
Sounds like you can indeed proceed with (2), and I'm of course open to merge these changes to this repo.

[2017-09-27 10:43] mancze commented on #13
So I made some progress. I have built and signed the add-on and added it to my Firefox installation.

For this purpose I have prepared build script anyway. I found out that building the extension via `web-ext` ignores some files but not all. Some clutter and especially the `demo.gif` (huge) was added to the resulting package. The command does not accept any kind of ignore list so "clean package so

[2017-09-27 15:50] madsonic opened #19 "Pressing any character keystroke to append to search query"
Google used to have this shortcut along with the navigation that you made. If we can type any character to bring focus back to the search box it would make searching really awesome again

[2017-10-02 12:04] mancze commented on #19
That sounds interesting. Currently the search box is focused upon pressing `Esc` key but all text in the search box is selected. Perhaps adding an option whether text should or should not be selected should be added? The behavior would be almost the same as you describe only requiring one extra key to be pressed.

[2017-10-02 12:10] marscos commented on #19
This sounds a lot like [this issue](https://github.com/infokiller/google-search-navigator/issues/3). I thought of the `Esc`/`/` shortcut too, but though very similar, surely it's not the behaviour you want. You both mentioned the late Google Instant on this. Perhaps the best way to achieve this would be adding something like a "Google Instant Mode" to the options menu?

[2017-10-02 12:21] marscos opened #20 "Add the option to change "Focus on input search box" keybind"
Every other keybinding can be changed by the user, so why shouldn't this one be able to, as well?

[2017-10-02 15:00] madsonic commented on #19
Yes the idea is same as #3. Probably should have looked first. I had no clue <kbd>Esc</kbd> and <kbd>/</kbd> could focus the searchbox. Thanks. Will close this to reduce duplicate

[2017-10-02 15:00] #19 closed

[2017-10-03 05:59] #20 closed

[2017-10-03 08:19] mancze opened #22 "Restore the focused item when using back"
1. User does a search.
2. User browses the search results and navigates to non-first hit.
3. Finds out that the result wasn't what they was looking for. Uses the back button to return to the results.

Expected behaviour:
One would like to continue traversing the results so the focus should be on the result before navigating out.

Actual behaviour:
The first item is focused instead (this actually d

[2017-11-09 10:31] marscos opened #28 "Input search box not being focused when image is previewed in the Images tab"
After selecting and previewing an image in the Images tab, like this:
![image](https://user-images.githubusercontent.com/15524244/32600621-57434a18-c527-11e7-8fd5-bef5d0bc2c8e.png)
Pressing the keybind to focus on the input search box does nothing.

[2017-11-11 17:40] vpshastry opened #29 "Don't scroll to first result when there is a google card"
When there is a google cards like when you search 'weather' or 'define <word>' the page is automatically scrolled down to the first google results after the ads. This makes I can't even see that google info. In case of google's cards lets don't scroll it down.

[2017-11-16 09:05] afilp opened #30 "Add option for "Time" (default "t")"
Restricting search to time is something many users do (especially for news, etc.).

May I propose a quick shortcut?

1. Add an option for "Time" (default "t")

2. This opens this dialog (if possible)

![image](https://user-images.githubusercontent.com/7850073/32881069-96c855de-cab8-11e7-9ed8-4cafc97fce7d.png)

3. The  focus should go there (this is important), so that with the TAB the user can nav

[2017-11-16 10:49] infokiller commented on #30
Thanks, that looks like a useful feature. Personally, I don't think I'll get to implementing it soon, but feel free to send a PR.

[2017-11-16 10:49] infokiller commented on #29
I can confirm this.

[2017-11-16 16:14] mancze commented on #30
I like the bare idea but for me the issue seems is too specific limiting its focus to only certain functionality and not interpreting the google search as a whole. One has to ask how frequently is this particular feature used by users? It is worth reserving such lucrative shortcut for this command? Wouldn't be fixing classical keyboard-based ui navigation good enough?

Personally I would rather se

[2017-11-16 16:42] mancze opened #31 "Refactor core to more command-based pattern"
Current core functionality of the extension is attached as direct handlers of the keymaster events. This causes me problems when debugging/fiddling around with the extension. For example it is not easy to invoke "navigate to the next result" command directly from the developer console.

I would like to refactor the main script of the extension to be more "object" oriented. I think it will provide

[2017-11-16 17:53] infokiller commented on #31
I think it's a good idea! feel free to send a PR.

[2017-11-18 13:45] afilp commented on #30
I like what @mancze proposes.

However, I tried to press enter while "Tools" is focused and instead of it opening the 1st result opened (expected, as "Enter" opens the 1st "selected" result).

[2017-11-18 15:42] afilp commented on #31
@mancze Great indeed! My plus vote to proceed to a PR if you have the time!

[2017-11-18 15:46] afilp commented on #30
I have a suggestion here (this uses shortcuts):

If the "sequences" plugin is used (https://github.com/cmawhorter/keymaster-sequences.js), then the "Time" use case can be handled easily:

[code]

[2017-11-19 09:37] rik-smeets commented on #14
It's been a while, but I'm ready to pick this up again.

Since then, I found out I can't change the publisher name of a single app package. This would mean that if I would publish the extension to the Microsoft Store, the publisher name would just be my name. Of course, I would refer to this repository, but still... It doesn't feel like doing justice to all contributors here, since I've only had a

[2017-11-19 10:13] rik-smeets commented on #28
I cannot reproduce this (using the version currently in the Chrome Web Store). Are you using a different version perhaps?

[2017-11-20 15:08] infokiller commented on #14
Hmm, I don't have a good idea on how to handle this, but I'm fine with the publisher name being yours, as long as this repo is referenced.

[2017-11-29 21:30] tedzhu opened #32 "Support jumping to more tabs (or more urls)"
It'd be nice to support all tabs, including shopping, books, flights, etc.

More generally, maybe support customizing the url to jump, using the current query word. Now this could be debatable since it is similar to what browser is sort of doing, e.g. chrome://settings/searchEngines. But it'd be really nice to have this search google first then go to other sites workflow.

Anyway really appreciate

[2017-12-05 21:01] t-ye opened #33 "Navigator doesn't start at first link with new "Best Answer" feature (e.g., for StackOverflow results)"
![Shown here.](https://user-images.githubusercontent.com/19561516/33630448-3520c42a-d9bc-11e7-8c94-27765a4848a2.png)

Link of the google search in question: https://www.google.com/search?q=java+catch+multiple+exceptions+in+one+block&oq=java+catch+multiple+exceptions+in+one+block&aqs=chrome.0.0l3.5838j0j1&sourceid=chrome&ie=UTF-8

It also cannot navigate to those answers, whether they're the first

[2017-12-16 03:57] marscos commented on #28
Yeah, you're right. That was my bad. Also, sorry for taking so long to reply.

[2017-12-16 03:57] #28 closed

[2017-12-20 16:12] mancze commented on #31
I want just to confirm that I'm still working on this and I'm done with the major part. Now just some final polishing and it will be ready. I must admit I have maybe got I little more involved than needed and the code-base now looks pretty different. Yet I hope it is toward better code organization and reuse.

[2017-12-22 06:57] tedzhu commented on #3
Hi, just want to revive this topic with my two cents. It seems there're two use cases:
1. focus search, select whole thing, to do a new search
2. focus search, move cursor to end, to add more texts
In my own experience I feel 2. is more common. Since making search, refining query is kind of like a session, ending with going into a site.
I'd suggest changing the behavior from 1. to 2. Or, similar t

[2017-12-22 17:30] infokiller commented on #3
I personally rarely run into use case 2. For use case 1, I instinctively open a new tab in chrome and start a search.
So my experience and workflow is probably not that relevant for this feature.

[2017-12-22 20:49] tedzhu commented on #3
(+1 for new tab for new search)

Understandable that everyone has different workflow. In that sense I think separating into 2 commands will provide the flexibility.

[2018-02-06 15:58] flyboy101 opened #35 "Scroll down pages is not fluid"
Please add a shortcut "f" for google finance (https://finance.google.com/finance)

Scrolling down search results is not fluid, as when a result at the bottom of the page is marked, the URL address and the google description basically lay on the page below. Page snapping should be improved.

Good job anyway!

[2018-02-27 17:08] mancze commented on #13
Hey, I noted that the extension is still not published in Firefox add-on portal. I think that it is pity as the extension should be now fully compatible. @infokiller If you don't mind I will put myself into role of the curator of the extension under AMO portal so you don't need to worry about it. Is that ok with you?

[2018-02-27 17:29] infokiller commented on #13
Sorry about that!
Sure, please go ahead and upload it to AMO under whatever name you want.

[2018-03-01 17:57] mancze commented on #13
Tada: https://addons.mozilla.org/cs/firefox/addon/the-google-search-navigator/ (url strip without "the" is already taken, probably from some previous attempts).

As a support e-mail I have used the same which is listed on the Chrome Web Store. Is it ok?

Also I have released it as a version 0.2.7. It is already different from 0.2.5 published in Chrome Web Store so that's the main reason. The reaso

[2018-03-01 18:27] infokiller commented on #13
Sounds good, thanks for that!

On 1 March 2018 at 19:57, Michal Novák <notifications@github.com> wrote:

[2018-03-02 09:05] #13 closed

[2018-03-22 08:00] Otiel opened #41 "Ctrl+Return opens two tabs on the side"
When I use the shortcut <kbd>Ctrl</kbd><kbd>Return</kbd>, two tabs instead of one are opened on the side. This bug doesn't happen when I use <kbd>Ctrl</kbd><kbd>Space</kbd>.

_Firefox 59.0.1, Windows 10 64 bit_

[2018-03-22 08:15] Otiel opened #42 "Results hidden by URL tooltip when scrolling down with keys"
When using the shortcuts (for instance <kbd>↓</kbd>) to navigate the links, the URL tooltip is hiding the result. See gif below.

![bug](https://user-images.githubusercontent.com/3851902/37758675-54c7c528-2db1-11e8-828c-d5a42bf4ffb5.gif)

It would be nice if the page was scrolled down enough to show the whole result:
* Title
* Link
* Description

[2018-03-22 09:01] mancze commented on #41
This should be fixed in #38 already. I just didn't release new version yet. I should get to it within this week.

[2018-03-22 09:13] mancze commented on #42
It's Firefox, right? Unfortunately this is browser's behavior. The same happens when you cycle through results via `tab`. I think it would be worth report it to Mozilla directly.

I don't recall this happening before. Perhaps it might be bug introduced in some late versions? On the other side I hardly ever loop the results below the fold, so... :)

But as you suggested, scrolling down to show whol

[2018-03-22 09:13] #31 closed

[2018-03-22 09:15] mancze commented on #22
Fixed in #23 .

[2018-03-22 09:15] #22 closed

[2018-03-22 09:18] mancze commented on #32
Regarding ability to navigate tabs easily I mentioned something already in https://github.com/infokiller/google-search-navigator/issues/30#issuecomment-344973215, so this might be related to said issue.

[2018-03-22 10:53] Otiel commented on #42
Yes, Firefox 59.0.1.

I understand it's Firefox behavior to show the URL tooltip on the page. I'm not blaming this. In fact, when using the mouse, Firefox displays the URL tooltip on the right/left depending on the position of the hyperlink in order to avoid hiding it.

My request is to scroll down a little bit more to show the whole result, and that will also fix this "issue". 😃

[2018-03-23 23:49] infokiller opened #43 "Support selecting and navigating to "sub-result links""
Selection can be done by using tab (via regular focus change in the browser), but when trying to navigate (via the extension keybindings), the navigation is done to the top level result instead of the sub-result.

Original email I got which triggered this issue:

[2018-03-26 12:53] hristo2612 commented on #33
@tchernomax Can you be more specific in which case the patch is not working properly?

[2018-03-27 08:38] hristo2612 commented on #33
My guess is, the extension has not been updated in Google Web Store, otherwise you should be able to select through best answers. On local, it's running fine for me.

[2018-03-27 11:14] mancze commented on #43
I'm not sure sub-result navigation was included in the original Instant Search keyboard navigation. If we're gonna implement this it should be configurable at least. Without it in the example shown above getting to the 3rd main result would require to activate next result shortcut 9 times. For me using plain old `tab` is good enough to reach sub-results.

[2018-03-27 11:58] tchernomax commented on #33
I just tried with the patch from PR #45 and I can confirm it works.

[2018-03-27 16:14] infokiller commented on #43
I don't think it was included in the Google implementation, and I agree that it's not a good idea to force users to navigate through these in their usual flow. Like you said we could introduce another opt-in option to navigate through sub-results, but my guess is that it won't be useful to that many users.
All that said, we should try to fix the current bug where using tab and then enter/space doe

[2018-03-28 08:18] mancze commented on #43
Ah, you are absolutely right. My thoughts drifted away from the original post.

[2018-04-04 06:27] mancze commented on #41
Finally released new version. @Otiel Can you test the issue is fixed?

[2018-04-04 08:07] Otiel commented on #41
Tested and confirmed that this is fixed on the new version available on Firefox. Thanks a lot. 😁

[2018-04-04 08:07] #41 closed

[2018-04-07 15:36] AntRozanski commented on #33
Hey, great work with the extension. When will the new version working properly with stack overflow 'Best Answers' be available to install from chrome extensions store?

[2018-04-08 07:15] infokiller commented on #33
@AntRozanski I plan to do a release in the next 7 days.

[2018-04-09 22:44] #42 closed

[2018-04-15 13:25] hackerb9 opened #46 "Spacebar should not be remapped"
I love this extension. It's made me much happier when I use Google. However, I have one request.

Please leave the spacebar alone. There is already a way to open links: press the ENTER key. Some people, like me, prefer to keep their hands on the keyboard "home row" (hence the 'vi' keys). We use the spacebar all the time to scroll down a page and it's very aggravating to have it suddenly opening li

[2018-04-15 13:29] infokiller commented on #46
The reason that space is remapped is that it's much more accessible than Enter, and I believe clicking on links is more popular than scrolling the page.
You can edit the keybindings in the options. Wouldn't this resolve your issue?

[2018-04-15 14:50] hackerb9 commented on #46
Thank you for letting me know that I can remap the key. That does help, but does not resolve the issue. I am requesting a change to the default action. Please do not change space unless a user explicitly asks for it.

Even if clicking on links is more popular, I do not think that justifies breaking the usual meaning for a key. Think of it like an API: as a programmer, you wouldn't break an interfa

[2018-04-15 15:06] infokiller commented on #46
I understand your pain, and as a typing enthusiast I wouldn't suggest you use PageUp :)
That said, I don't see this mapping as breaking an API, but changing the default action. Would you consider Vimium and many other extensions as also breaking the browser keybindings API, since they can modify existing keybindings?

Since the keybindings are configurable and we are only discussing default, I thi

[2018-04-19 10:56] haroonhassan opened #47 "other google domains"
great extension. Only works for www.google.com though, what about www.google.co.uk etc....thanks mucrh

[2018-04-19 11:08] haroonhassan commented on #47
closed browser...reopened and worked

[2018-04-19 11:08] #47 closed

[2018-04-21 01:36] hackerb9 commented on #46
Wouldn't mapping the letter 'o' to open links be even more convenient out of the box for users than the space key?

As a fellow typing enthusiast, I'm curious how you scroll down the page quickly if you don't use the spacebar. Perhaps you have a trackpad next to your keyboard? As far as I know, the only key that a touch typist can hit to page down is Space.

The current default doesn't include *an

[2018-04-21 16:13] infokiller commented on #46
The thing is that space is the easiest keyboard to reach on the keyboard.
I currently mostly navigate the page by navigating the search results, though I admit it's not ideal sometimes. When I really want to navigate only the page, I use vimium- are you familiar with it?

Sure, will keep the issue open.

[2018-04-21 16:39] rik-smeets commented on #46
Just my two cents: I use the up and down arrows to navigate through the Google results page, which this extension allows. The upside of this is that when I reach the bottom, I can also easily go to the next result page.

While I personally don't use space to open links I also don't think it's a problem it's mapped to opening links by default.

[2018-04-26 02:33] behradkhodayar opened #52 "Porting to StackExchange network using Stackapps"
Would be great to port this valuable addon to the StackExchange networks. As userbase is the same for both websites: keyboard guys, Developers...

It seems we should do it using [Stackapps](https://stackapps.com/).

[2018-04-27 17:34] #32 closed

[2018-04-27 18:42] infokiller commented on #33
Finally got to testing and publishing the new version... sorry for the delay.
Unfortunately I can no longer trigger the "Best answer" feature (tried the original URL in the issue and other questions).
It should take about an hour till you will get the new version (0.2.8)

Can someone able to trigger the best answer feature confirm that the new version fixes this issue?

[2018-04-27 19:14] behradkhodayar commented on #52
No, I was thinking about making Stackoverflow keyboard friendly by creating script like **GoogleSearchNavigator**. But now(after some googling) it seems they've done it:

For your record:
https://stackapps.com/questions/2567/official-keyboard-shortcuts
https://stackoverflow.blog/2012/02/08/stack-exchange-keyboard-shortcuts/

[2018-04-27 19:15] #52 closed

[2018-04-27 19:55] Mastergalen opened #53 "Extension requires permission to read browser history"
In v0.2.8 the extension is requesting permission to read my browser history.

Why is this necessary?

[2018-04-27 20:36] hristo2612 commented on #33
Confirmed, it executes promptly and highlights "Best answer". With version 0.2.8

[2018-04-28 02:56] beracira commented on #53
i just quickly went over the [manifest file](https://github.com/infokiller/google-search-navigator/commit/c02163bf66da53db3573081ebb7e17c470e67547#diff-051a8a7bcae8db1e4cee8eb09b52e619), I think this is the commit where the new permission is introduced.

it seems that the "tabs" permission is requested to implement the new feature mentioned in the doc, which is to open a new tab in background.

in

[2018-04-28 03:24] beracira commented on #53
sorry i was wrong about the permission part. it seems that new tabs can be created with desired url even after i removed the "tabs" permission. so this should definitely be removed to avoid further confusion. (tested on chrome version 66 on linux).

i'm going to make a pull request to remove the line.

[2018-04-28 08:32] geniusupgrader opened #55 "ctrl+enter opens tab two times!"
Since 0.2.8 on Chrome Version: 66.0.3359.139 (Official Build) (64-bit),
when I hit ctrl+center to open a new page it opens in two new tabs, from which one comes to foreground.
This behavior makes google-search-navigator for me unusable.
Someone else having the same problem?

[2018-04-28 08:35] geniusupgrader commented on #55
After uninstall and reinstall from the chrome webstore, double open tabs is gone, and it is working now as it should. I'll close this

[2018-04-28 08:35] #55 closed

[2018-04-28 09:07] medizinmensch commented on #53
hi folks!
I just want to emphasize that :
1. I love the google-search-navigator and
2. I realy disregard the permission change

Thank you @beracira for making the pull request! ❤️

[2018-04-28 10:33] infokiller commented on #53
First I'd like to apologize for this confusing warning and clarify that this extension certainly **does not read any of your browsing history**.
One of the pros of being open source is that any user can easily verify that the code doesn't do anything malicious.

It seems the issue was introduced in PR #37 which actually requires the "tabs" permission.

Thanks for investigating @beracira !
I will m

[2018-04-28 10:46] infokiller commented on #33
Thanks @hristo2612 !
Closing this one.

[2018-04-28 10:46] #33 closed

[2018-04-28 11:05] infokiller commented on #53
Update: I started publishing the new version of the extension (0.2.9) which removes the "tabs" permission following the PR of @beracira .

It should be available in the webstore in 1 hour, and will hopefully be updated for users very soon.

[2018-04-28 11:13] infokiller commented on #35
The google finance navigation was recently added.

Can you please check if the fluidity issue you see is still there, and if so add a screenshot showing the issue?

Closing for now, but please reopen if one of these issues is still present.

BTW, for future issue please open a separate issue for every problem you have (2 in this case IIUC).

[2018-04-28 13:16] flyboy101 commented on #35
Great job infokoller, one issue killed! I haven't found anything as smart as this extension so far, and I would be happy to give my little user-contribution.

Here you can download a series of screenshots I've made while just scrolling down the results with "arrow down" button: https://mega.nz/#F!mxFhDAJC!wUk3w0B6XLAYdTgoQ_eAFg

The behavior I referred to is visible in pic 5, 7, 10 and 14, where t

[2018-04-28 13:53] panozzaj commented on #53
Thanks for the quick turnaround, I use this tool all of the time and was confused by the new permissions requested. This seems like it should reduce confusion overall!

[2018-04-29 05:11] beracira commented on #53
@infokiller thanks for the quick response! it seems that the issue has been resolved. and the new feature is also working just fine.

[2018-04-29 07:28] #53 closed

[2018-04-29 08:34] infokiller commented on #35
Thanks a lot @flyboy101 for the details! that helps a lot and now I understand the issue.
I agree the current behavior is not optimal and remaining on the first result in the visible list is better.
I hope I'll get time to tackle this soon, but realistically it may take O(months).

[2018-04-29 10:10] flyboy101 commented on #35
Welcome @infokiller. I dare the need of a result anchor in the viewport, but take it with a grain of salt.
Cheers.

[2018-04-29 10:15] flyboy101 opened #56 "Enhance search result highlighting"
Is it advantegeous to have the focused result highlighted similarly to what DuckDuckGo does, i.e. with a background light colour (very light!) on the entire result filed, rather than having just the result title highlighted?

[2018-04-29 10:38] infokiller commented on #56
In terms of design I prefer the way it is on DuckDuckGo.
I think we can add an option to change the way it looks, possibly supporting custom CSS by the user.

[2018-05-01 11:27] #14 closed

[2018-05-01 19:03] rik-smeets opened #57 "Different title required for Microsoft Store"
The extension for Edge unfortunately did not pass certification for the Microsoft Store. The name of the extension is not compliant with Microsoft Store's policies. Because it complements the functionality of Google Search, the title of the extension has to indicate this relationship. For example, if you have an extension/app containing Word templates, it should be called: *Templates for Microsoft

[2018-05-02 02:13] beracira commented on #3
@geniusupgrader I do miss the old google instant search, but the thing is that will be conflicting other shortcuts. One option will be to disable other functionalities so that alphanumeric characters are freed up.

[2018-05-02 10:04] infokiller commented on #57
Is "Keyboard navigation for Google Search" compliant?
If so, I prefer that one since it's closer to the real name of the extension.

[2018-05-02 17:51] rik-smeets commented on #57
Great suggestion, I like that better too. I think it's compliant as well. I just submitted the new package, so fingers crossed! :)

[2018-05-14 08:32] QkiZMR opened #58 "Open in background start two new tabs"
Since few versions of Google Chrome extension open two tabs except one when I press control+enter on selected search result.

[2018-05-22 18:57] rik-smeets opened #59 "Extension unavailable for Edge due to content infringement complaint"
Yesterday, I received a content infringement complaint from Google regarding the extension for Microsoft Edge. It regards to the usage of the stylized Google 'G' which is used in the logo of the extension.

Because of this, I had to remove the extension from the Microsoft Store and it is therefore no longer discoverable / downloadable.

I'm wondering: @infokiller, @mancze : did you receive similar

[2018-05-23 09:10] infokiller commented on #59
Nope, I didn't get such a complaint in the Chrome Web Store, but if we got a complaint I guess we should change the logo

[2018-05-23 10:13] mancze commented on #59
Neither did I get a complaint. I agree with @infokiller - the logo should be changed.

[2018-05-23 17:50] rik-smeets commented on #59
@infokiller Did you create the original logo? If so can you create a new one?

[2018-05-23 19:43] infokiller commented on #59
Yes, I'll create a new one. In the meantime feel free to use anything else that is not problematic.

[2018-05-24 18:49] rik-smeets commented on #59
Great! I'll just wait for the new logo, to prevent having to do multiple resubmissions.

[2018-05-24 22:06] infokiller commented on #59
Damn, I uploaded non square icons... will fix it in 3-4 days (don't have the source file for the icon till then...)

[2018-05-26 20:20] williambarberjr opened #60 "Extension unavailable in the Chrome Web Store"
Your link to the chrome extension page no longer works and I'm unable to find the extension in the chrome web store.

[2018-05-26 20:27] infokiller commented on #60
Yes, I had to change the icon because of #59
It should be up again within a week or so.

[2018-05-27 06:37] rik-smeets commented on #59
@infokiller I see the new logo still uses the 'G' from Google's logo, which uses a proprietary font (see https://en.wikipedia.org/wiki/Product_Sans). Do you think it's okay to use that font, or are you using a different font? I'm no expert in these matters and I think we can rather be safe than sorry to prevent other infringements.

[2018-05-27 08:53] infokiller commented on #59
I'm not expert either, but the new 'G' is from shutterstock so I think it should be ok: https://www.shutterstock.com/image-vector/set-google-logo-circle-square-on-1050158639?src=library

Anyway, Google will now review the new logo, so let's see what they say.

[2018-05-27 08:55] rik-smeets commented on #59
Thank you, I'll await their response before requesting resubmittal of the Edge extension.

[2018-05-27 22:11] anurbol commented on #60
Hi! I was "lucky" enough to reinstall my OS in these days, so now I am not able to use your great extension :) Is there a way to use it even it is not present in Google Play?

[2018-05-28 13:44] infokiller commented on #60
Hi, you can clone this repo, build the chrome extension by running `yarn build --production`, and then loading the unpacked extension to Chrome- see also https://stackoverflow.com/questions/24577024/install-chrome-extension-not-in-the-store

[2018-05-28 22:02] anurbol commented on #60
Thanks! Good for me, I've just installed linux and removed windows.

[2018-06-04 08:53] radu-b opened #61 "Google Scholar support"
Would it be difficult to add support for this search page, too?
https://scholar.google.com

If you think it's straightforward I could try a PR.

[2018-06-04 09:14] infokiller commented on #61
Looking at the HTML structure I think it shouldn't be hard to do that

[2018-06-09 03:47] tkroll commented on #30
This was added in recent update

[2018-06-11 10:03] afilp commented on #30
@tkroll This is nice! CTRL-SHIFT-W closes the tab though, is this a proper shortcut?

[2018-06-11 10:07] afilp commented on #30
Also, I cannot fine the extension in Chrome Web Store anymore, how can we update it?

https://chrome.google.com/webstore/search/%22google%20search%20navigator%22?_category=extensions

[2018-06-11 10:27] infokiller commented on #30
Waiting for a Google review, see #60

[2018-06-11 10:31] tkroll commented on #30
@afilp Oh crap. Mac user here. Can you get my some good Windows alternatives? I'll also add these to the Options menu.

[2018-06-15 09:43] afilp commented on #30
@tkroll I am afraid that most of these shortcuts are used for something else in Windows, so I would not go for the "CTRL-SHIFT-..." combinations.

Maybe use a "gmail style sequence" by importing the `mousetrap` package?
https://github.com/ccampbell/mousetrap

So you could have:
"t a"
"t h"
"t d"
... etc.

[2018-06-18 00:57] tkroll commented on #30
@aflip: Mousetrap look pretty cool. The new functions are now in Options screen.
@infokiller: Should I do a fork with Mousetrap to test?

[2018-06-18 13:22] infokiller commented on #30
@tkroll yes that sounds good

[2018-06-19 10:55] tkroll commented on #30
Removed keymaster and added mousetrap (https://github.com/ccampbell/mousetrap).
Since mousetrap binds with an array of strings instead of a string, I changed the options to handle that. The options page still works the same way.

I used Gmail-style, double-keys for the search/time settings. See options screen.

Please take a look and comment:
https://github.com/tkroll/google-search-navigator/tree/

[2018-06-21 23:06] russelldavis commented on #60
This just bit me when I synced my extensions to a new profile and this one was mysteriously missing.

Any update?

[2018-06-22 07:46] infokiller commented on #60
No update yet, and I'm also negatively affected by this :(
Waiting for Google to do their review...

[2018-06-27 17:07] avernet opened #64 "Safari support"
This extension is available for Chrome, Firefox, and Edge. Excellent, but what about Safari? ;)

[2018-06-27 18:38] infokiller commented on #64
I welcome PRs that add support to Safari. It shouldn't be hard, but it should be implemented and maintained by someone who is regularly using Safari.

[2018-06-28 10:45] louismartin commented on #60
Now even building the extension myself brings some errors:

[code]
macOS 10.13.5
Google Chrome 67.0.3396.99 (Official Build) (64-bit)

[2018-06-28 11:02] infokiller commented on #60
There errors are more like warnings, the extension should still work (at least it does for me even with those errors shown by Chrome)

[2018-06-28 17:20] rik-smeets commented on #60
Yes, those errors occur because Chrome does not recognize those keys, but they are necessary for other browsers. Probably the same occurs in other browsers for Chrome specific manifest keys. You can safely ignore the warnings.

[2018-07-05 12:36] infokiller commented on #30
Just tried it, looks pretty good. I also took a quick look at the commit in your branch, a minor comment I have: please use the un-minified name of mousetrap. The minified version will be generated with the same name using `yarn build --production` (this is how it's currently done for keymaster as well).

Thanks!

[2018-07-07 11:38] flyboy101 commented on #56
A result border highlight is implemented here: https://github.com/bluemirr5/web-keyboard-navigator
A better chromatic layout could be defined, though.

[2018-07-10 03:07] tkroll commented on #30
@infokiller Noted and corrected. Update pushed.

[2018-07-12 08:55] beardedlinuxgeek commented on #60
Could you just build the extension and do a release on github? That way users don't need to install yarn and gulp and build it themselves.

[2018-07-16 16:25] infokiller commented on #60
@beardedlinuxgeek I did a release for Chrome: https://github.com/infokiller/google-search-navigator/releases/tag/0.2.10

[2018-07-21 07:47] yoyoyousei opened #65 "Chrome plugin is not found"
google-search-navigator on chrome is not found on chrome extension store.
Is this eliminated from store?

link: https://chrome.google.com/webstore/detail/enhanced-keyboard-navigat/cohamjploocgoejdfanacfgkhjkhdkek

[2018-07-21 10:03] infokiller commented on #65
See #60

[2018-07-21 10:03] #65 closed

[2018-07-21 10:06] yoyoyousei commented on #65
oops, sorry for reporting duplicate issue.
thanks.

[2018-08-06 12:57] denolfe commented on #60
Unfortunately, loading an unpacked extension on Windows causes a nagging pop-up every time Chrome is launched. I would love to see this put back into the store.

[2018-08-09 02:21] toparchery opened #67 "Wrongly focus on "Next Page" link and scroll to page bottom on Google Shopping in Firefox"
Hello Michal,

It is latest FireFox 61.0.2 (64-bit) on Windows 7 SP1. When you make a search on google.com and click on Shopping tab, this extension will automatically focus on the "Next Page" of Shopping page and automatically scroll down to shopping page's very bottom. You have to scroll up every time.

We cannot find this issue on all other google pages.

Could you please fix this bug?

Thank y

[2018-08-09 09:07] mancze commented on #67
The problem is that used selector does not match results on the shopping page and that option to focus first result item is enabled. The issue can be reproduced also in Chrome browser. The fix is to adjust selector so that it includes results on the shopping tab.

I will have a look at it.

[2018-08-14 02:53] tedzhu commented on #60
Anything we can do to accelerate this process?

[2018-08-14 05:52] JBCookin opened #70 "Numbers 1-0 mapped to results pages 1-10"
Having numbers 1,2,3,...,9,0 mapped to result pages 1,2,3,...,9,10 would be a useful feature.

Or mapping them to focus on results 1-10, with control-(1,2,3,...,9,0) mapped to results pages.

Perhaps even adding an option to have the results numbered left of the navigator arrow would be a nice option, with the ability to turn this on and off.

I just downloaded the extension and I love it but I fi

[2018-08-14 14:07] infokiller commented on #60
Not that I know of :(

[2018-08-14 14:11] infokiller commented on #70
Sounds like a useful feature (though I probably wouldn't use it personally because I like the visual feedback of the search results selection).
Practically I won't have time to implement it in the near future, but happy to merge a PR that adds support.

[2018-08-26 14:28] infokiller commented on #59
Nothing new yet, and yes the time this review is taking is really annoying.

[2018-09-04 03:53] JBCookin opened #71 "Focus search box shortcut not working on Chrome v. 68.0.3440.106"
If theres any more information I can provide just let me know.

[2018-09-04 10:55] infokiller commented on #71
Thanks for reporting!
How did you install the extension?
I'm currently using it on Chrome `68.0.3440.106` and focus search box seems to work.

[2018-09-05 04:33] JBCookin commented on #71
I downloaded the project then used yarn and gulp, then pointed chrome to the the src folder as unpacked extension. I've never really done anything like this before so maybe I did something wrong? I had this problem with v2.10 so I updated to v2.12 and still had the same problem. All other shortcuts work fine.

[2018-09-05 10:27] mancze commented on #71
@toparchery I'm using Firefox 61.0.2 (64-bit) @ Windows 10 and it works for me. I think the bug should be related to a specific version of Firefox rather than OS. Yet I don't see it could happen in any scenario.

What is your "Focus search box" shortcut setting? Does it work when you try to assign another shortcut? Are you sure your shortcut is not used for some other command?

[2018-09-06 07:28] protoiyer commented on #71
As @JBCookin reported above, I too have been missing the essential "press / to focus on search box" for some days now, and today as I upgraded to Chrome "69.0.3497.81 (Official Build) (64-bit)", I decided to get the latest 0.2.12 version thinking the issue is due to the old version that I had. I  uninstalled the old version and installed the new version via "Load unpacked" as suggested.

But no, t

[2018-09-06 09:34] toparchery commented on #71
@mancze My Firefox is latest 62.0 (64-bit) @ Windows 7.
The original shortcut of "escape,/" didn't work, and I changed it to "escape" but still not work. Even "ctrl+shift+o" does not work either. I believe the shortcut doesn't conflict with other software. Because I did not install new software and this is an office computer. It is pretty clean. Thanks!

[2018-09-06 09:51] infokiller commented on #71
@JBCookin @protoiyer
I tried the latest version on Chrome `68.0.3440.106` and it works for me.
The steps I followed:
1. Open a shell
1. Clone the repository using `git clone https://github.com/infokiller/google-search-navigator`
1. Verify that the current commit is `08f4402` using `git rev-parse --short HEAD`
1. Run `yarn install && yarn build --production && tools/make-chrome.sh` from the project

[2018-09-06 10:34] protoiyer commented on #71
Thank you so much for taking the time out to check our comments. I guess I
should have done this earlier - I rebuilt as you mentioned, but it still
doesn't work in the normal (NON-incognito) browser, but works fine in the
incognito mode.

So I guess some other extension is interfering with it (and it is NOT
vimium). I will hunt it down later. I was testing in the latest stable
Chrome 69.0.3497.81.

[2018-09-06 10:40] infokiller commented on #71
I'm glad there's progress! please let me know once you have more insights.

[2018-09-06 10:45] JBCookin commented on #71
I tried turning off all other extensions and restarted the browser but the problem didn't go away.

Also the shortcut is working for me in incognito mode just fine as well.

[2018-09-06 10:54] protoiyer commented on #71
@infokiller @JBCookin I am also in the same boat - I just turned off all the other extensions and the problem still persists. Works fine like earlier in the incognito mode. Thanks.

[2018-09-06 11:14] mancze commented on #71
One idea: could someone with the problem try to inspect the html of the searchbox input element? Extension looks this element up by it's id which should be `lst-ib`. Perhaps this id might change in some cases?

[2018-09-06 16:54] mancze commented on #71
Good, it seems we have found out reason, why shortcut is not working. I don't know, why id of the element is missing. Perhaps it has something to do with the customization for given Google account. Or perhaps some new version of the Google page is being served. I don't know. I think the selectors used by the extension are picked by observation from the actual source code and not from some kind of

[2018-09-07 16:43] protoiyer commented on #71
@mancze @infokiller Please check the gist - you can search for `input class="glfyf gsfi"`
https://gist.github.com/protoiyer/d50e27a4390ffca5a1bf2ab9a8d6920e

[2018-09-10 12:14] mancze commented on #71
Thanks. I have compared css paths hoping there would be some wrapper div with common id but there is nothing useful. Yet the selector which seems actually better than current one is `#searchform input[name=q]` - it does not rely on those seemingly-random (obfuscated?) identifiers.

[2018-09-13 06:39] mcgeeco commented on #67
This is happening for me for regular search results on Chrome 68.0.3440.106.

[2018-09-13 09:29] mancze commented on #71
I've released a version 0.2.13 for Firefox where this should be fixed.

[2018-09-13 12:44] bphi opened #73 "Search results are not matched by the selector"
Ran into a problem where google.com changed the html structure of the results page slightly.

    [document.querySelectorAll('h3.r a'), (n) => n.parentElement.parentElement]

In extension.js was not picking up the new links. I added

    [document.querySelectorAll('h3.LC20lb'), (n) => n.parentElement.parentElement.parentElement.parentElement]

to the SearchResultsCollection to fix the issue. Not s

[2018-09-13 14:35] mancze commented on #73
Thanks for letting know. I think **mcgeeco** ran into [same problem](https://github.com/infokiller/google-search-navigator/issues/67#issuecomment-420900240).

[2018-09-13 14:38] mancze commented on #67
@mcgeeco I think another user ran into same problem as reported in #73. Could you please provide the CSS path of the result link? Please reply to the mentioned issue, this one is about shopping results (which should be already fixed). Thanks.

[2018-09-13 14:59] mcgeeco commented on #73
Thanks @mancze! Sorry for the stupid question, but how do I find the css path for the results page? Also by the way I should mention I'm still using the version that I got through the Chrome Store, so it's possibly out of date (ver 0.2.9).

[2018-09-13 16:00] mancze commented on #73
No problem. If you are using Chrome, the easiest way is to actually capture the screenshot of the css path:

1. Right-click on the search result.
2. Select _Inspect_ .
3. Take screenshot of the element path. It's located as a bottom toolbar under the source code and looks like this:
![2018-09-13_1755](https://user-images.githubusercontent.com/1493286/45500268-94805200-b77e-11e8-9b13-947d7a77b22e.p

[2018-09-13 16:10] mcgeeco commented on #73
Great here it is:
![image](https://user-images.githubusercontent.com/5881581/45500800-6d725200-b777-11e8-9b82-98211388b4ba.png)

Let me know if I can provide anything else. (still Chrome `Version 69.0.3497.81 (Official Build) (64-bit)`)

[2018-09-13 19:30] mancze commented on #73
Great, thanks. That's very helpful. I can see class did not change. Only structure is slightly modified. I think changing selector to `#search .r a` will work for both versions. Even containing parent is still two levels above, that's great.

[2018-09-13 19:34] bphi commented on #73
@mancze are there any updates regarding a return to the chrome web store?

[2018-09-13 19:41] mancze commented on #73
Sorry, I don't know. Try asking @infokiller - he is the maintainer for Chrome.

[2018-09-14 08:49] jpotocki commented on #60
@infokiller Can you anything to make this extension back to the Chrome Web Store?

I found your extension best out of any similar solutions but without the Store presence it does not update automatically nor syncs with other Chrome installations, where I am using my Chrome loginb :-(

[2018-09-14 13:31] infokiller commented on #60
I know this issue is causing a big annoyance and I'd really like it to be resolved quickly as well, but I'm not sure what to do at this point. Emailed the Chrome Webstore multiple times about this and they seem to ignore me :(

[2018-09-14 13:34] infokiller commented on #73
@bphi see #60

[2018-09-14 13:48] infokiller opened #75 "Proposal: migrate to TypeScript"
NOTE: feedback is welcome from everyone, but I especially want to get @mancze opinion on this as the main contributor to this project.

I'd like to propose to migrate the code of the extension to TypeScript and use its tooling (mainly via [gts](https://github.com/google/ts-style)) to automatically lint and format the code (preferably enforced using commit hooks).

Pros:
- Reducing the likelihood o

[2018-09-15 16:33] #71 closed

[2018-09-16 01:12] Polygonalr commented on #73
@mancze Setting the selector to `#search .r a` will cause the selector to pick up the "Cached" or "Similar" boxes as shown here.
![test](https://user-images.githubusercontent.com/16399656/45591835-97529100-b990-11e8-9dcd-adb5ce57041e.png)
I believe having separate selectors for both versions of the page is the best.

[2018-09-17 00:48] toparchery commented on #71
It works on latest Firefox 62.0 (64-bit). Thanks!

[2018-09-17 02:57] protoiyer commented on #71
Once I cloned, built and installed v0.2.13, it works fine on the latest
Chrome as well 69.0.3497.92 (Official Build) (64-bit). Thanks for fixing
this!

On Mon, Sep 17, 2018 at 6:18 AM, toparchery <notifications@github.com>
wrote:

--
Suresh Iyer
+91-98402-78798 | protoiyer@gmail.com
---
In the long run men hit only what they aim at - Thoreau

[2018-09-17 18:47] #73 closed

[2018-09-17 18:52] mancze commented on #73
I liked the PR #76 which solved the selector issue for both cases cleanly.

[2018-09-17 18:53] #67 closed

[2018-09-21 07:26] krzysztof-grzybek opened #78 "Search results page broken down"
Plugin was working great till today. After search, results page is scrolled down to the very bottom, and "next page" link at the bottom is focused.

[2018-09-21 08:01] afilp commented on #78
I can verify this, it is not working well now.

[2018-09-21 08:03] afilp commented on #60
Could a submission under a totally different name/icons/etc. help?

[2018-09-21 09:04] infokiller commented on #78
How did you install the extension? from the Chrome Webstore?

[2018-09-21 09:09] infokiller commented on #60
I'd like to avoid a new submission, mainly because all the existing users of the extension (the ones that installed it before it was removed) will no longer get any updates, which means it will be broken.
If they keep being unresponsive I will break eventually and do it, but I'll probably wait 1-2 months before doing so in hopes that this will be settled...

[2018-09-21 10:00] krzysztof-grzybek commented on #78
@infokiller  yes, from the Chrome Webstore

[2018-09-21 10:08] afilp commented on #78
@infokiller I built the source code, but I do not see any `output` folder, where should I look for the compiled result?

[code]

[2018-09-21 10:13] rik-smeets commented on #60
I was also thinking of that @afilp, but I understand that @infokiller would like to wait a bit longer.

If rebranding is necessary, I would propose to make it more generic, which would have the advantage that the extension could expand itself to other search providers. I use Bing sometimes too for example, which does have some basic keyboard navigation in itself, but not a great as this extension

[2018-09-21 13:20] alexbarrett opened #79 "Picking up search results embedded in "People also ask""
![image](https://user-images.githubusercontent.com/114549/45883192-4683d380-bda8-11e8-8a41-e2f56f0fd73f.png)

The results are included in the navigation even when the questions are collapsed, so you have to press down several times to get to the first real result. The HTML structure of these embedded results on this particular page is similar to the main search results. I have come across other "P

[2018-09-21 14:20] alexbarrett commented on #79
I've been unable to replicate this. It only seems to happen when the extension is reloaded with the search results already open. I assume this means that the "People also ask" box is added dynamically after the extension runs under normal circumstances.

[2018-09-21 15:34] infokiller commented on #78
@krzysztof-grzybek the extension has been partially removed from the store (see #60 - waiting for Google to approve it again) so it hasn't received an update in a while. I  also no longer use the version from the store, because you can no longer install it, only if you had it before it was removed you can use it from there.
So the bottom line is that I have no way to reproduce any issue in the web

[2018-09-21 15:40] infokiller commented on #78
@afilp

TLDR: Windows builds are not supported yet, but you can try a modern version by downloading a release: https://github.com/infokiller/google-search-navigator/releases/latest

Long story:
The `yarn build` command you're using is invoking gulp behind the scenes with [the gulp file](https://github.com/infokiller/google-search-navigator/blob/master/gulpfile.js). You can see that it builds in th

[2018-09-21 15:44] infokiller commented on #79
Thanks! I also ran into this a few times and I definitely want to fix it.
Let's keep it open for now and I'll try to make progress when I have more time.

[2018-09-22 08:30] afilp commented on #78
@infokiller Thanks. Now that Windows 10 has `bash` support, I manage to compile bash-related code. For some reason, the compile of master fails even in bash (windows though):

![image](https://user-images.githubusercontent.com/7850073/45915243-bbafe100-be5a-11e8-820b-f22351d45360.png)

I wonder if anyone else with Windows here has the same problem.

[2018-09-24 18:14] krzysztof-grzybek commented on #78
@infokiller  Thank You very much for explanation. It's annoying that google doesn't support it natively, now it's double annoying that they review this extension so long :( However, it's works great from build.

I don't know if You are aware of this (I didn't find it in issues), but after load it manually, I have two manifest errors:
[code]

[2018-09-24 18:15] #78 closed

[2018-09-25 10:12] afilp commented on #78
For anyone interested, I **did compile in Windows**, using `bash`:

This is what is needed:

![image](https://user-images.githubusercontent.com/7850073/46008138-94f4e300-c0c4-11e8-916a-44c228b4d76d.png)

Note: You need to have support for `bash`, see here how:
https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/

[2018-09-25 15:45] infokiller opened #82 "Proposal: generalize extension to search in other websites"
The idea is to support other search engines such as Bing, Amazon, Github, etc.
I envision the code structured in a way that adding basic support for a new website only involves specifying things like the search results selectors, search box selector, etc.
Some of the current features are very specific to Google, and my intention is to keep supporting and enhancing them. This will also need to be r

[2018-09-25 16:54] rik-smeets commented on #82
I'm a proponent of making the extension more generic, since I don't only use Google but also other search engines from time to time. Also, keyboard navigation on sites like YouTube is pretty bad. Supporting that as well could be great! I think we could gradually restructure the code where necessary to support this.

We should however beware that we should not try to fit everything in this extensio

[2018-09-26 08:43] mancze commented on #82
I don't mind that this extension is specific to google. I use only Google search engine so it's a fit for me. I wouldn't benefit from supporting other search engines. Also I think its name helps to discover the extension for a new users - as it did for me. Contrary I fear it would make things more complicated (more complicated settings) and gave feeling of "bloated" extension. That's my opinion as

[2018-09-26 08:50] mancze commented on #75
Sounds like a fun. I have nothing against TypeScript.

I must only note that it will mean more complicated process when shipping new version - Aside of the extension package itself I will have to provide also zipped sources of each version. It's the policy of the AMO portal. But it's no biggie.

[2018-09-28 11:19] t-xigit opened #84 "Cursor jumps to next page on the bottom following a search"
I'm using Chrome: Version 69.0.3497.100 (Official Build) (64-bit)
On Windows 10

Since the latest update of Chrome after pressing enter cursor jumps to the bottom.
When I am disabling the extension the behavior is normal.

![image](https://user-images.githubusercontent.com/15726945/46205481-06c96880-c321-11e8-8277-17756ce7d2ce.png)

[2018-09-28 21:07] vcfvct commented on #84
Was having the same issue as above, then I re-installed the extension and now no `arrow` shows up any more, however i still can see the link focus are changing when `up/down` key is pressed.

Any ideas?

[2018-09-28 21:19] idbrii commented on #78
I had the same issue as OP (v0.2.9 from the Chrome web store): search jumped to bottom and could only navigate between the next/prev search result page buttons at the bottom of the page.

Disabling my extension and installing the latest release (v0.2.14) fixed the issue for me:
https://github.com/infokiller/web-search-navigator/releases

Thanks for the great extension. I hope it's approved soon!

[2018-09-29 05:32] tedzhu commented on #84
Definitely only started happening recently, might not be related to Chrome update. Is it the HTML structure of Google search result somehow changed?

[2018-09-29 11:07] gudata commented on #84
same here. Chromium. Version 69.0.3497.81 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

[2018-09-30 04:27] infokiller commented on #84
Sorry for this issue guys.

**TLDR**: You need to disable the extension from the store and install if from a Github release (see [instructions below](short-term-workaround]).

## Long story

The root cause is a change in the google html structure which broke the extension logic for identifying the search results.
This has already been fixed in the code, but unfortunately, the extension has been te

[2018-09-30 04:29] infokiller commented on #84
This is a duplicate of #78 but I'll keep it open for discovery

[2018-09-30 04:52] infokiller commented on #82
Thanks for the feedback guys!
A few notes:

- It may indeed make sense to split the extension at the release level (but they can still share most of the code). I'm not worried about code bloat. What i'm more worried about is a bloat in the permissions for the extension. For example, a user that only uses google shouldn't need to give permissions for youtube or amazon, and that may create a privacy

[2018-10-01 08:41] maximillianus commented on #84
Correct me if I am wrong, but this extension was previously approved by Google? As far as I know it is not approved and it is not available anywhere in Chrome Webstore (actually I just check it and it is still not available there). Kindly let me know the link to the webstore apps if any since the link on the github main page is giving me 404 error. Anyway, thanks for the update on the fix. I am ha

[2018-10-01 10:34] infokiller commented on #59
@rik-smeets did you try to resubmit the extension?

[2018-10-01 11:20] infokiller commented on #84
Yes it was previously available, but removed because of copyright issues (see #60). See the updated [Chrome installation instructions](https://github.com/infokiller/web-search-navigator#chrome) for how to install it.

[2018-10-01 15:55] rik-smeets commented on #59
@infokiller No, I did not. I was awaiting the resubmittal of the extension in the Chrome Web Store.

I do see that you changed the name of the repository/project. I would only further suggesting updating the assets and removing the stylized 'G' from Google from it as well, just be sure. After that, I would be happy to resubmit it.

[2018-10-02 04:56] daxmc99 opened #85 "Unable to load extension"
I'm getting this error when I attempt to load the unpacked extension.
I use the src directory since before it was not even finding the manifest.
I'm on Windows 64-bit
[code]

[2018-10-02 08:16] afilp commented on #30
@infokiller @tkroll Is this merged to master? I think not, based on that commit:

https://github.com/tkroll/google-search-navigator/commit/a64557a1994a4714a8e9b9a0da690b928112a576

Windows users (like me) need this, because `Ctrl+Shift+w` closes all browser tabs, etc.

[2018-10-02 08:49] tkroll commented on #30
Yeah, I did it wrong. Will have to redo from current master when I have time.

[2018-10-02 13:04] infokiller commented on #59
@rik-smeets I will work on a new icon without the G anyway (also the extension will become more general than just Google), but I think even the current one should be fine (it's from shutterstock). Why do you think the G is stylized in a way that may be problematic with Google?

[2018-10-02 13:14] infokiller commented on #85
You can't load it from the `src` directory- you need to load it from the build directory. But instead of cloning the repository it's just easier to load the extension from a release, see instructions here: https://github.com/infokiller/web-search-navigator#installation

[2018-10-04 10:46] infokiller commented on #59
@rik-smeets I just updated the icon.

[2018-10-04 16:00] rik-smeets commented on #59
@infokiller I didn't necessarily believe the 'G' would cause problems, but I'm rather safe than sorry when resubmitting the extension. Considering both the name and all assets are now changed, it should be good to go again!

I think I can get around to it this weekend. With a bit of luck, the extension should be up within a couple of weeks again for Edge. Yay!

[2018-10-04 16:00] rik-smeets commented on #60
@infokiller Since you've renamed the extension and updated the assets (like the logo), are you resubmitting the extension again too?

[2018-10-04 16:02] infokiller commented on #60
No, I'm trying to use the existing submitted extension- it's possible to do all the updates I've made including the rename.

[2018-10-04 16:03] rik-smeets commented on #60
@infokiller Good one, I'll check if that's possible for Edge too.

[2018-10-05 20:46] infokiller commented on #35
@flyboy101 this issue should be fixed on Chrome. You can already test it on master, but I will also do a release soon.

[2018-10-06 09:38] infokiller commented on #29
@vpshastry this issue should be fixed on Chrome. You can already test it on master, but I will also do a release soon.

[2018-10-07 14:07] infokiller commented on #35
@flyboy101 this is only fixed in 0.3.2, so you should test that version.

[2018-10-07 16:08] flyboy101 commented on #35
I've tested v. 0.3.2. Now the cursor stays always on the bottom and the viewport moves accordingly.
It would be better having the cursor on the top, then freely move it within the same viewport till the very last result is selected. In this last case the viewport should update to the next one with the cursor again on the top.

[2018-10-07 17:18] flyboy101 commented on #35
Yeap, you got the points:
1. Seeing all the possible results without navigating them would be advantageous when after a quick inspection by eye, you want to move directly to the next viewport (... maybe with another shortcut, e.g. by hitting "space bar" as already happen for normal web pages) as the first one contains too much ads, or just irrelevant results for you (still happen from time to time

[2018-10-08 17:32] infokiller commented on #35
What do you mean by the job? navigating a large number of results?

From your description I actually think you want a large `scroll_size`. I will see if I have time to add these options and let you know

[2018-10-10 00:57] texastoland commented on #59
I love the extension! I really don't mean to be a troll but the new icon isn't distinguishable at toolbar size.

[2018-10-10 16:51] infokiller commented on #59
@texastoland thanks for the feedback. I will soon commit a change that makes the icon colorful which should improve the situation.
Other than that, I'm not a designer by any mean, so contributions are welcome :)

[2018-10-11 23:08] infokiller commented on #60
And finally, the extension is back in the store! Closing.

[2018-10-11 23:08] #60 closed

[2018-10-11 23:09] #29 closed

[2018-10-11 23:09] #79 closed

[2018-10-11 23:09] #84 closed

[2018-10-13 15:49] #59 closed

[2018-10-15 09:17] vpshastry commented on #29
Great! Thanks. Will try it soon.

[2018-10-19 06:13] marscos commented on #70
To be honest, I don't believe navigating through pages 1-10 would be any useful, since wanting to jump directly from 1st to even 3rd page and vice-versa doesn't seem much common. Though it may not hurt to support it, I think it's rubbish.

However, navigating through the results seems much nicer to me. Not that it poses a problem, but I'd like to note that it is possible to show more results per p

[2018-10-19 16:43] jpotocki commented on #60
I am very happy about it!!!

[2018-10-25 08:16] afilp commented on #30
@tkroll May I help somehow? I think you are very close, what was the problem and was not merged/released? Thanks!

[2018-10-25 09:12] tkroll commented on #30
I wanted to wait until you moved to typescript actually. Also found a weird bug that it focuses on the next button and scrolls down. Do you see that behavior?

[2018-10-25 20:30] infokiller commented on #30
@tkroll what version are you using?
This should have been fixed in the chrome web store version.

[2018-10-27 09:05] amitporedi007 opened #90 "filter search by year,month"
filter search by year,month not working sine few days
was working previously
other keyboard shortcuts are working

[2018-10-28 05:03] tkroll commented on #30
Realized it's my unmerged version. I'll handle it.

[2018-10-30 16:05] infokiller commented on #90
I can't reproduce this.
What version of the extension are you using?
Did you install it from the store?
Can you try this in incognito without other extensions?

[2018-11-01 09:15] amitporedi007 commented on #90
version 0.3.2
issue started after chrome update
reinstalled extension module worked few days again stopped
chrome version 70.0.3538.7
installed from github
not using in incognito
why the extension freezes
waiting for reply

[2018-11-13 19:01] mniborsk opened #91 "Proposal: Add option for Image Size"
Maybe it's just me, but I'm often looking for high resolution images and find myself going to Tools - Size - Larger than - 2MP / 4MP etc. A keyboard shortcut would be very helpful (as is this extension in general, thank you!).

![image](https://user-images.githubusercontent.com/3584003/48435145-80df7080-e75a-11e8-8772-77c5ab2d7834.png)

[2018-11-13 19:21] infokiller commented on #91
Sounds good to me. I doubt I'll have time to work on this soon, but I welcome PRs, though it should probably wait till the typescript migration is done (#75), which I expect to happen in the next 1-2 weeks.

[2018-11-14 14:30] VarunAgw opened #92 "No option to navigate special results (Twitter, images, etc)"
So far I have noticed it to skip

- Twitter result entry
- Images for %keyword%
- Search pages number (except next)

They should be included in arrow navigation too.

[2018-11-14 14:31] VarunAgw opened #93 "Mouse middle click on a result should also focus it"
If focus is on 1st result, and I middle click on 3rd result, focus should switch to it.

If I recall, original Google Instant used to have such behaviour

[2018-11-14 14:46] infokiller commented on #92
Can you please elaborate?
You want it to skip more things? which ones?

[2018-11-14 14:47] VarunAgw commented on #92
No! I want it to include these too.

[2018-11-14 14:48] infokiller commented on #92
Got it now. I plan to add options for specifying whether to include some of these things.

[2018-11-14 14:53] infokiller commented on #93
It won't add much value to me personally (and I assume most of the extension users), since this extension should make it easier to only use the keyboard in Google search. Therefore, I probably won't implement it anytime soon, so will close the issue.
That said- the features sounds reasonable and I welcome PRs that add it, assuming they don't add much complexity to the extension.

[2018-11-14 14:53] #93 closed

[2018-11-17 20:54] Tunscopi commented on #43
Hi @infokiller First, thank you for this brilliant extension! Been using one that was nice but this is better! Next, I also want to echo the sentiments for supporting sub-result navigation if this wouldn't be too much of a hassle. It sorta defeats the purpose when I navigate to sub results using TAB and then have to reach for my mouse to select those results( happens often ). Hitting TAB twice all

[2018-11-18 10:32] mancze commented on #43
To be honest, I forgot about this. I really should be possible to navigate to sub-results when focus is moved to them. I'm on it, will fix this soon.

I'm thinking changing the logic of the navigation activation shortcuts (open, open in a new tab, open in a new background tab). The focused element (`document.activeElement`) should be clicked instead of the highlighted result (the result marked by

[2018-11-18 11:00] Tunscopi commented on #43
Hi @mancze thanks for taking a look.
Given the user-focused element precedence over the extension result sounds like a good approach to resolving this.

[2018-11-19 23:33] VarunAgw commented on #93
:'(

[2018-11-20 08:52] mancze commented on #93
The feature which would make sense is "sync highlighted result with focused element". Meaning the highlighted result should be updated when focus goes to a link within container of one of the matched results. The highlighted result should not change when focused element is not related to any specific matched search result. Enabling the feature should be configurable, on by default.

This way the h

[2018-11-20 16:32] #43 closed

[2018-11-30 04:05] tedzhu opened #95 "How to unfocus search box?"
There's a "Focus search box" command which is really useful.

But after using it, it seems there's no way to cleanly unfocus it.
1. press enter, do another search, focus first result
2. mouse click, or tab tab, press up down will somehow bring up the searchbox suggestions

Ideally, maybe press esc to unfocus search box and focus search result.

[2018-11-30 08:13] mancze commented on #95
Confirmed, seems like a bug. In some previous version `esc` key worked to unfocus the search box as you suggest.

[2018-11-30 16:07] mancze commented on #95
Had a minute to look onto this. I realized that previous functionality that input was blurred when hitting `esc` was feature out-of-the-box provided by google search itself. And I have a strong feeling that focus/blur logic was more complex. I think it was like:

1. Pressing "Focus search box" shortcut would focus search box and selected all text within. This also expanded the search suggestions b

[2018-12-01 16:00] infokiller commented on #95
I can't reproduce this- `esc` still gets me out of the search box to navigating results (though the suggestions stay open which is not ideal), and a single tab press gets me out of the search box and closes the suggestions.
Am I missing something?

[2018-12-01 16:05] #95 closed

[2018-12-02 11:35] afilp commented on #30
@tkroll Hi! Can your PR make it to the actual product? The current shortcuts are still unusable in Windows but yours are. Thanks!

Also, may I recommend that we also add "SHIFT-downarrow" and "SHIFT-uparrow" to navigate through the "More results from..." section?

![image](https://user-images.githubusercontent.com/7850073/49339201-132ab400-f637-11e8-80ad-e3e6ee3b9ae9.png)

[2018-12-02 11:36] afilp opened #97 "Enhancement: Add "SHIFT-downarrow" and "SHIFT-uparrow" to navigate through the "More results from..." section"
May I recommend that we also add "SHIFT-downarrow" and "SHIFT-uparrow" to navigate through the "More results from..." section?

![image](https://user-images.githubusercontent.com/7850073/49339207-38b7bd80-f637-11e8-9803-1c0fa1f1d6fb.png)

[2018-12-02 12:46] infokiller commented on #97
Sounds good. I plan to expand the navigation in the next batch of improvements I'll make (not sure when yet), including stuff mentioned in #92

[2018-12-03 08:50] mancze commented on #95
I think it depends on how google rolls out updates. I guess you are getting the old version where it worked. I can reproduce this issue in both Firefox and Chrome. Today I see even another update to google search - the searchbox has rounded borders now.

![image](https://user-images.githubusercontent.com/1493286/49362967-a1a74000-f6e0-11e8-96e0-17ee7ff7d847.png)

[2018-12-03 08:54] mancze commented on #30
@afilp With #94 it is possible to navigate to subresults and "more results from..." or whatever using the default browser focus shortcuts - `tab` key and `shift+tab`.

[2018-12-03 09:09] mancze commented on #97
With #94 it is possible to navigate to subresults and "more results from..." or whatever using the default browser focus shortcuts - `tab` key and `shift+tab`. It works pretty well for me for this kind of links. It is not so good for - for example - twitter entries mentioned in #92, because there is a lot of "focusable-element noise".

[2018-12-03 10:38] afilp commented on #97
@mancze I understand this and I do use the tab but it is not as an instant experience.

Because we already have our fingers in the `arrow keys`. With the `shift-arrows` proposal (which are not used for something else fortunately) it is as easy as holding the `shift` button while pressing the `down` arrow on the 1st result.

[2018-12-04 03:03] tedzhu commented on #95
Thanks for looking into and fixing this. I agree that google's change is not rolled out at once, when I created the issue it's already round cornered for me

[2018-12-18 14:04] ryankhart commented on #3
What I'd really want to have the option for is to set `/` to bring focus to the search bar but *not* select all the text and append instead. If I wanted to replace all the search text with a new one, I'd just open up a new tab and search there.

[Google Search Keyboard Shortcuts](https://chrome.google.com/webstore/detail/google-search-keyboard-sh/iobmefdldoplhmonnnkchglfdeepnfhd) on Chrome works a

[2018-12-18 15:18] mancze commented on #3
@ryankhart If you activate the "Focus search box" shortcut twice the search box will be focused with cursor at the end of the text. Would it work for you as a workaround?

[2018-12-19 17:22] ryankhart commented on #3
@mancze Sweet! That's much easier than I thought. I was already trying to build from my own personal fork because I deleted the line of code for selecting. Thanks for showing me that trick.

[2018-12-21 07:13] tedzhu commented on #3
@ryankhart what do you mean activate it twice? First time it focus the search box, second time the character will be typed in, right?

[2019-01-16 07:11] tkroll commented on #30
@afilp I'm back. Sorry for the delay. I'll take a look.

[2019-01-23 06:37] tkroll commented on #30
@afilp @infokiller New PR ready to go.

[2019-02-22 05:50] asterisk37n opened #109 "Enhancement: YouTube support"
It would be beneficial if we can do the same thing on YouTube. In my opinion, I hope following two functions should be considered
- Automatically focusing on search box when opening https://www.youtube.com/
- vim like shortcut (j/k) to go up and down youtube search result (ex. https://www.youtube.com/results?search_query=bach)

[2019-02-24 10:04] #109 closed

[2019-02-24 10:04] infokiller commented on #109
Duplicate of #82

[2019-03-17 09:55] benwoodward opened #112 "Move the selection when window is scrolled"
Great extension!

I have a feature request. I use Vimium as well as Web Search Navigator, this is a situation I keep running into:

• Invoke the Web Search Navigator shortcut to move the search result selection down to the next result
• Realise there isn’t anything in the top 5 results so decide to scroll down the page and scan the remaining results
• Instead of hammering Web Search Navigator shor

[2019-03-22 07:47] shishkin-pavel opened #113 "Specify parent tab for newely created tabs"
This can be done using `openerTabId` optional parameter for `tabs.create()` [func](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/create#Parameters)
This improvement will greatly affect interoperation with addons such as TreeStyleTab.

[2019-03-22 14:16] infokiller commented on #113
Thanks for reporting, makes sense.
This should be a pretty easy fix, but it will probably take some time to reach the web store (both for Chrome and Firefox).

[2019-06-02 01:45] afilp commented on #97
@infokiller I am also using j/k, it is very convenient. So, how about having "SHIFT-j" and "SHIFT-k" for navigating through the "More results from..." section?

[2019-06-02 06:09] infokiller commented on #97
There are two separate things here:
1. Adding the ability to navigate "subresults"
2. Setting the default keybindings for "subresults" navigation

I'm fine with merging a PR for (1), but (2) will need more consideration.
That said, if (1) is merged you will be able to set the keybindings in the options, so you shouldn't be too worried about (2) for your use case.

I want to do it in the next few w

[2019-07-01 22:49] nicchristeller commented on #113
Would this also fix the issue below?

**Actions:**
* Have a tab open and focused
* Open a new tab with keyboard shortcut
* Search something in the omnibox, taking you to a Google results page
* Navigate to a result, and open it in new tab (so it opens in background) with shortcuts from this extension
* Close the current tab with ctrl+w

**Expected:**
Result tab that was opened in background is foc

[2019-07-02 06:19] infokiller commented on #113
@nicchristeller I'm not sure, but once I get to fixing this I will test it

[2019-08-27 13:06] ghost opened #122 "first result as callout not detected"
Hey. Nice plugin. It's really a big time saver! I noticed a small issue. For some search results, when there's a callout/snippet associated with the first result, the extension does not detect that link as the first result. So, in this case, the extension doesn't mark it as the first one and additionally it cannot be navigated to. For example, if you type in the search query "microsoft excel strik

[2019-08-28 10:04] infokiller commented on #122
Hey, thanks for the bug report.
I can confirm this issue. Will try to fix it soon, shouldn't be hard.

[2019-09-16 07:41] #113 closed

[2019-09-16 16:10] BastianKubaile commented on #56
I would like to give the user the possibility to customize the CSS which does the highlighting, so basically expose search_results.css to them on the options page. [Loading](https://github.com/BastianKubaile/web-search-navigator/commit/2cc5818a332805ef33dd3a9a78dd6ec28a4e641a) the file into options.html is possible, but there seems to be no clear way on saving it. Saving it directly isn't possible

[2019-09-24 12:17] BastianKubaile opened #128 "Cannot remove Websites permissions"
As in #127  mentioned there is no way to remove permissions of certain websites even though options.html looks like it is possible.

[2019-09-24 12:55] Gazorby commented on #128
I think the main problem here is that [webext-dynamic-content-scripts](https://github.com/fregante/webext-dynamic-content-scripts) only watch for `permissions.request()` and not `permissions.remove()`. So it register the script correctly on new domains but do not unregister it

[2019-09-25 05:40] infokiller commented on #56
Why is `chrome.storage` not nice?

[2019-09-25 06:44] infokiller commented on #56
FWIW I looked into how vimium does it, and it uses `chrome.storage`

[2019-09-25 11:40] BastianKubaile commented on #56
On a second thought loading the whole `search_results.css` file into `chrome.storage` is possible and styling the web pages is also possible. I think I will implement that this way then 👍

[2019-10-11 11:40] LaPeste opened #129 "Can this tool be used for other search engines?"
Hi,
the initiative is great. However, I dropped google search a while ago and I was wondering if you are thinking about adding support for other search engines which are still big players:

- Bing
- StartPage (what I use)
- DuckDuckGo
- maybe 1 or 2 more.

Thank you for the consideration.

[2019-10-11 14:30] infokiller commented on #129
Hi,

Yes this is actually a work in progress- see https://github.com/infokiller/web-search-navigator/issues/82 and some recent PRs that added support for startpage (https://github.com/infokiller/web-search-navigator/pull/124) and youtube (https://github.com/infokiller/web-search-navigator/pull/127).

So the current development version supports StartPage, but it's not released to the store yet, as

[2019-10-11 14:30] #129 closed

[2019-10-14 08:01] LaPeste commented on #129
You've just put a smile on my face!
Thank you so much for the amazing work!

[2019-12-11 08:16] infokiller opened #133 "Keyboard shortcuts don't work consistently in the images tab"

[2019-12-11 08:20] infokiller commented on #133
I tested this in Firefox and it actually worked.
In chrome incognito it works inconsistently for me. Not sure if it's related to another extension I'm using.

[2019-12-28 15:20] GaXve opened #134 "Verbatim Search"
Would it be a plausible idea to incorporate a keyboard shortcut key for Verbatim Search?

[2019-12-28 20:30] elbotho commented on #35
@infokiller these options sound great.
Personally I don't mind the number of scrolls so much but always looking at the very bottom of the screen is quite unusual and gives me less change to scan ahead.
So 👍 and thank you so much, found this plugin today and it is going to change my life :)

[2019-12-29 18:33] infokiller commented on #134
Yes, definitely. I plan to do a round of improvements and fix a bunch of issues that are currently open, but there's no ETA yet.
PRs welcome, of course.

[2020-01-06 13:18] GaXve commented on #134
Gotcha! I know it's very easy to come up with ideas and make suggestions,
and that's it's another thing entirely to actually implement them. I use
your extension every day, so I'm happy to do anything I can to make it
better. Unfortunately, my programming days are far in the past (I
programmed basic, cobol, and I believe one of the first versions of Visual
Basic). I'm slowly getting back into the

[2020-01-06 17:31] infokiller commented on #134
Thanks, frankly the pending improvements/fixes (including this issue) are just blocked on me having time to implement them (and testing a new version properly), so there's not much you can do now.
Re opening another search mode (images, videos, etc) in a new tab: why don't you use the browser's back navigation for this?

[2020-01-27 19:16] henriklb commented on #82
I'd love this addon to be duckduckgo compatible. While using duckduckgo I miss the 'v', 'i' etc. shortcuts

[2020-01-29 21:32] ysmike commented on #133
For me, keyboard shortcuts work fine in images tab during incognito mode (with the rest of my extensions also enabled). However, during a regular session (non-incognito mode), the keyboard shortcuts do not work in the images tab even with all extensions but web-search-navigator disabled.

[2020-02-11 19:20] linh-yesware commented on #133
Can't speak for all shortcuts, but I think I know why the 'focus search box' shortcut is broken. It [assumes the search box is a DOM element with the selector `'#searchform input[name=q]'`](https://github.com/infokiller/web-search-navigator/blob/2252062ab347cb06ea8ecf3e4fdcd9b1132b8043/src/searchEngines.js#L69) and in the Images tab, that's no longer the case. On my machine, the search box now has

[2020-02-12 17:00] Olshansk opened #136 "Not working on Chrome Version 79.0.3945.130"
Chrome has a setting called `Pressing Tab on a webpage highlights links, as well as form fields` which doesn't quite do the same thing as thing as this extension. I tried enabling and disabling this with no luck...

Also, I have `Focus on first search result automatically after the page loads` enabled, but it doesn't seem to do anything.

Is there a known issue?

[2020-02-13 09:16] infokiller commented on #136
No, that's strange, it works for me in Chromium `80.0.3987.100` (and worked in all previous versions as well).
Did you try incognito?

[2020-02-13 09:30] infokiller commented on #133
Thanks for your input!
I'll try to fix it in the next round of fixes/improvements, should be easy enough.

[2020-02-14 04:42] Olshansk commented on #136
I think one of my other extensions is interferring with it actually. Not sure which one, but I do not think the extension is at fault.

[2020-02-14 04:42] #136 closed

[2020-04-07 13:50] LaPeste commented on #82
Hi, any news on the status of this?
I've been waiting so much for this extension to work with StartPage.

I'd be great if you could share with us your expectations about this.  :)

Cheers

[2020-04-07 14:45] infokiller commented on #82
Hey, no news yet. Working on this, along with other improvements, is on my backlog, but I can't say if it will take a month, a year, or a decade...

[2020-04-07 14:50] LaPeste commented on #82
Alright, thank you very much for letting us know.

Out of curiosity I built it from source and tried it out.That pesky anchor being undefined :P

Jokes aside, thank you a lot for all the work.

Cheers

[2020-04-09 05:13] eggbean commented on #97
This is a great extension, but not being able to get to these other links is the biggest problem for me.

I do not mind using TAB and SHIFT-TAB to navigate to these links, but when I press ENTER, what happens is that that link will be activated at the same time as the link that this extension is marking, which then opens.

Is there any way of deactivating the extension momentarily?

[2020-04-10 12:21] infokiller commented on #97
@eggbean indeed I just tested this and it seems there's a bug (regression following the fix).
There's no way to momentarily deactivate the extension.
I'll try to fix this ASAP.

[2020-04-10 12:22] infokiller opened #145 "Focusing with tab and then pressing enter stopped working"
This is a great extension, but not being able to get to these other links is the biggest problem for me.

I do not mind using TAB and SHIFT-TAB to navigate to these links, but when I press ENTER, what happens is that that link will be activated at the same time as the link that this extension is marking, which then opens.

Is there any way of deactivating the extension momentarily?

_Originally po

[2020-04-16 06:28] williamfiset commented on #133
For me, just going to the images tab makes the whole extension totally unusable :(

I can hop between the search tab, the videos tab, and all other tabs just fine, but as soon as I go to the images tab I can't regain focus of the navbar or switch to any other tab. I tested this in normal chrome with only this extension.

[2020-04-16 11:13] infokiller commented on #133
@williamfiset till this is fixed, you can work around that by using a keyboard shortcut for back. I use a private unreleased extension for this to set the keyboard shortcuts for back/forward (can release it if people are interested), but there's probably other extensions around for that.

[2020-04-17 03:06] williamfiset commented on #133
Thanks for the tip, I think in Chrome you can use ⌘ + ← to return to the previous page, which point you can continue using the extension normally. This is a doable workaround as it doesn't require me to use my mouse, but I feel like a proper fix is still needed.

[2020-04-27 03:59] baranusluel opened #147 "Ctrl+Enter opens two tabs"

[2020-04-27 04:00] baranusluel commented on #147
It seems the Ctrl+Enter shortcut for opening a link in a new tab is already built in to Chrome and this extension also duplicates this behavior, resulting in an extra tab.

[2020-04-27 04:17] baranusluel commented on #147
I was facing this issue with the release version 0.3.2 on Windows. After building the latest version from source I am no longer seeing this behavior.

And I see this was a duplicate of #55. Closing this

[2020-04-27 04:17] #147 closed

[2020-05-31 06:13] Olshansk opened #148 "Extension Doesn't Seem To Work"
I'm on the latest version of chrome and extension simply doesn't work for me.

I have the `Focus on first search result automatically after the page loads` option enabled, but it doesn't automatically focus on the first result.

When I click "tab", it goes to google's "Skip to main content" button.

Not sure what I have to configure to make use of the extension, so any help would be appreciated!

[2020-06-01 19:45] infokiller commented on #148
Sorry for the bad experience, let's see if we can figure this out.
What OS are you using?
Did you try the [Firefox Addon](https://addons.mozilla.org/firefox/addon/web-search-navigator/)?

[2020-06-01 23:21] Olshansk commented on #148
Thanks for the quick reply! I'm using macOS Catalina.

The Firefox add worked fine actually!

Do you have any suggestions of logs I can potentially look into in the developer console to figure out what's going on?

[2020-06-01 23:41] infokiller commented on #148
Hmm, not that I can think of right now.
Do you see the arrow next to the search results?
Here's how it looks on my browser when googling for "whatever":

![image](https://user-images.githubusercontent.com/10516814/83464786-89051b00-a47a-11ea-8348-d1158f921653.png)

[2020-06-02 01:42] compilenix opened #149 "Selecting entries with arrow key or "j" / "k" does not work in firefox nightly"
OS: Fedora Linux 31
Firefox Version: Nightly 78.0a1 (2020-05-28)
Web Search Navigator: 0.3.4

It works with regular Firefox (76.0.1).

[2020-06-02 14:23] infokiller commented on #149
Adding @mancze who is maintaining the firefox extension

[2020-06-02 15:42] mancze commented on #149
I'm sorry, there are too few details for me to start working on the issue. Could you please provide some more?

- What is the actual behaviour?
- Only arrow keys and "j" and "k" are the issue? Or none of the hotkeys work? Or only certain actions do not work? Try remapping to another keys.
- Keys are silently ignored or another action is performed?
- Is there something we can start with (error mess

[2020-06-02 15:52] Olshansk commented on #148
I've opened an incgonito window and online enabled this one extension (see the screenshot below). The arrow does not show up.

![Screen Shot 2020-06-02 at 8 50 10 AM](https://user-images.githubusercontent.com/1892194/83541239-3e04fb00-a4ae-11ea-8e5b-94fceda8a5f4.png)

[2020-06-02 16:22] compilenix commented on #149
nothing happens, i've noticed just now that the selection arrow (added by the exension) is at the bottom of the search result and does not move)
![image](https://user-images.githubusercontent.com/6356150/83543019-0cb31c00-a4fc-11ea-9500-fe2f819fb7a6.png)

no, issue persists when remapping to other keys.

nothing like that.
here is the console log:
![image](https://user-images.githubusercontent.com

[2020-06-02 16:37] mancze commented on #149
Thank you. Hmm, it seems that you might be served another version of google search results. It is possible that selectors we use to detect results do not work.

Can you please try extension in an incognito window and/or copy the css path of the search result heading (Right click -> Inspect Element -> Right click on the node -> Copy -> CSS Path)?
![image](https://user-images.githubusercontent.com/1

[2020-06-02 16:45] compilenix commented on #149
Interesting in "incognito window" it works just fine.

This is the CSS path from within incognito:
`html body#gsr.srp.tbo.vasq div#main div#cnt.big div.mw div#rcnt div.col div#center_col div#res.med div#search div div#rso div.g div.rc div.r a.highlighted-search-result h3.LC20lb.DKV0Md`

This is the CSS path from a normal / non-incognito window:
`html body#gsr.srp.tbo.vasq div#main div#cnt.big div.

[2020-06-03 15:42] mancze commented on #149
Great, thanks. In your regular browser session there is an extra `div`. That causes that our selectors are not matching the results. Will take look at it. I guess you might be a/b tested or new version is being rolled out.

[2020-06-03 17:42] infokiller commented on #148
Thanks, can you please check what is the CSS path of the search result element using the chrome dev console?
See https://github.com/infokiller/web-search-navigator/issues/149#issuecomment-637670489

[2020-06-04 16:19] Olshansk commented on #149
Hey,

I was linked to this issue from https://github.com/infokiller/web-search-navigator/issues/148.
I've followed the instructions above to provide some extra information.

Please note that according to https://stackoverflow.com/a/35412554/768439, `Copy CSS Path` has been replace by `Copy Selector` in the newest version of chrome.

Copy selector returns:
[code]

Copy outer html returns:
[code]

H

[2020-06-04 16:20] Olshansk commented on #148
Followed up in the other thread: https://github.com/infokiller/web-search-navigator/issues/149#issuecomment-638960750

[2020-06-05 19:28] infokiller commented on #128
I just tested this, and it seems that the permission is actually removed (judging by what `chrome.permissions.contains` and `chrome.permissions.onRemoved` report), although for some reason Chrome keeps showing the URLs in the site access (and it also doesn't request permissions from the user if they enable it again).

[2020-06-05 19:28] #128 closed

[2020-06-05 21:12] infokiller commented on #149
Thanks for the details!
From what I can tell the CSS selectors used in the extension should actually match your search results.
Can you please do the following test:
- Search for something
- Go to Inspect Element in the dev console (`Ctrl+Shift+I` usually works)
- Hit `Ctrl+f` (or `Cmd+f` in Mac) which will open a small search box
- Paste `#search .r > a:first-of-type, #search .r g-link > a:first-

[2020-06-08 15:56] Olshansk commented on #149
That search doesn't seem to bring anything up:

![Screen Shot 2020-06-08 at 8 56 37 AM](https://user-images.githubusercontent.com/1892194/84052854-fb3b9b00-a965-11ea-9270-30b02331609e.png)

[2020-06-09 05:29] infokiller commented on #149
It seems that you accidentally copied the word "Paste" as well so the selector in your screenshot is off.
But thinking about it, it may be quicker to figure this out if you can send me the html page you get and I will play around with it.

[2020-06-09 05:30] infokiller commented on #148
Closing this to centralize the discussion in #149

[2020-06-09 05:30] #148 closed

[2020-06-14 19:10] infokiller commented on #149
That's strange, because from your screenshot it looks like it should work with the selectors used by the published Chrome version.
One thing I'd like to check is if the issue is that the arrows don't appear, but the extension actually does find the links. To verify this: when you press Space or Enter, does it follow any link?

If not, please send me the full HTML page so I can test it with the lat

[2020-06-14 19:46] compilenix commented on #149
I've had to re-login to my google account and since then it works as it should.

I assume it's what @mancze said earlier:

Here is the CSS Path I'm getting now, which is the same as i got previously in incognito mode:
`html body#gsr.srp.tbo.vasq div#main div#cnt.big div.mw div#rcnt div.col div#center_col div#res.med div#search div div#rso div.g div.rc div.r a.highlighted-search-result h3.LC20lb.DK

[2020-06-14 20:14] infokiller commented on #149
@compilenix thanks for letting use know and glad it's working now!
I'll see if it makes sense to make the selectors more general so that they would have matched the links in the page you were served.

[2020-06-15 04:28] Olshansk commented on #149
So if it works for @complienix, why do you think it doesn't work for me?

[2020-06-15 07:42] infokiller commented on #149
@Olshansk in case you missed it I replied to you above: https://github.com/infokiller/web-search-navigator/issues/149#issuecomment-643809009

compilenix had a different DOM from yours that wouldn't match the selectors we use (it had an extra div, see https://github.com/infokiller/web-search-navigator/issues/149#issuecomment-638280633)

[2020-06-17 00:36] Olshansk commented on #149
`To verify this: when you press Space or Enter, does it follow any link?`

No, nothing happens...

Is there anything else I could try before I send you the full DOM?

[2020-06-17 08:54] infokiller commented on #149
You can try to build the extension from the master branch (which was updated since the last Chrome release) and see if it works there. Something like this:
[code]

Then load the unpacked extension from the `src` folder.
If you don't want to install/run git/yarn, let me know and I can also send a zip file of the build.
Also let me know if you need help on loading an unpacked chrome extension.

[2020-06-18 05:12] Olshansk commented on #149
I'm hitting this issue when trying to load the unpacked extension:

[code]

The outputs of by src directory are:
[code]

[2020-06-19 11:35] infokiller commented on #149
Sorry for that, I broke the build script in one of my last commits.
Can you `git pull` and try again?

[2020-06-19 18:31] infokiller commented on #46
Closing due to inactivity. If anyone wants to discuss this, feel free to reopen.

[2020-06-19 18:31] #46 closed

[2020-06-19 18:36] infokiller commented on #70
Closing due to inactivity and lack of interest from most users. If anyone wants to discuss this, feel free to reopen.
I don't object merging a PR if someone is interested in implementing this, though I'm currently doing a large refactoring, so it should probably wait until I'm done, or otherwise merging will be difficult.
Also, note that I'm reluctant to adding new keyboard shortcuts by default (t

[2020-06-19 18:36] #70 closed

[2020-06-20 02:28] infokiller commented on #149
@Olshansk I made a few improvements in recent commits, please try the latest master branch (the build should be working now).
You can also try to add youtube and startpage support in the extension options and see if they work.

[2020-06-20 03:06] infokiller commented on #92
I just added support in the master branch for cards in the regular search results, including Twitter, Top Stories, and Videos.
I won't add search pages for now as I'm not sure if there's real interest in this feature, but note that you can navigate the pages with keybindings.
Note sure what you meant earlier by "Images for %keyword%", can you please clarify?

[2020-06-20 03:07] infokiller commented on #122
This is now fixed in the master branch. Keeping it open till it's released in the Chrome Web Store.

[2020-06-20 03:12] infokiller commented on #82
The current master branch has optional support for YouTube and Startpage (needs to be enabled in the options page).
If I'll have time, I may add support for Google Scholar, Github, or something else.
Closing this now, though the versions released on the browser stores are not updated yet.

[2020-06-20 03:12] #82 closed

[2020-06-20 03:17] infokiller commented on #145
I think this is now fixed in the latest master branch.
Just so that I can verify, do you have an example search query I can test?
Screenshots will also be useful to verify I'm looking at the same results.

[2020-06-20 03:30] eggbean commented on #145
![image](https://user-images.githubusercontent.com/815311/85190251-5b0f3b80-b2ae-11ea-8485-c2aa6aba25ba.png)

* I used the up/down arrow keys and have marked link 1

* Then I used SHIFT+TAB until link 2 is marked (bold) and press ENTER but link 1 opens instead.

[2020-06-20 04:13] infokiller commented on #61
This is now supported in the master branch

[2020-06-20 05:05] infokiller commented on #145
This works for me. Can you try the latest master branch to see if it's fixed for you?

Run this in a shell:
[code]

Then load the unpacked extension from the `src` folder.
If you don't want to install/run git/yarn, let me know and I can also send a zip file of the build.
Also let me know if you need help on loading an unpacked chrome extension.

[2020-06-20 17:07] Olshansk commented on #149
Still not working.

Here's my loaded extension:

![Screen Shot 2020-06-20 at 10 02 37 AM](https://user-images.githubusercontent.com/1892194/85207449-a0972d00-b2dd-11ea-9e0a-3e0ea292427f.png)

Here is the error:
![Screen Shot 2020-06-20 at 10 02 54 AM](https://user-images.githubusercontent.com/1892194/85207457-ad1b8580-b2dd-11ea-88d1-cd6c479bacb7.png)

Here is the result of my google search result:

[2020-06-20 17:25] infokiller commented on #149
The error you see in the extension is harmless and something you can safely ignore (it complains about a setting that is there only for Firefox).
Not sure what's wrong there.
If you can send me the HTML page (from incognito) and I will try to test it on my machine (just check that it works locally for you).
If I'm not able to reproduce the issue, the only other thing I can think of is adding loggi

[2020-06-20 17:31] Olshansk commented on #149
[test.zip](https://github.com/infokiller/web-search-navigator/files/4808279/test.zip)

[2020-06-20 20:11] infokiller opened #155 "Build: switch from gulp to webpack"
This will improve development because:

- Using imports will make dev tools (such as editors and linters) aware of file dependencies. Right now we have a few of `eslint-disable` comments for issues related to this, and autocomplete doesn't work well for me in vim.
- Some files in the `src` directory are actually dependencies that we deploy there for loading the extension from this directory. Mixin

[2020-06-20 20:14] infokiller opened #156 "Release 0.4.x on Chrome Web Store"
I started the release process and now waiting for a review. Not really sure why another review is needed (perhaps because of the new optional permissions), but we'll have to wait.
In any event, I'm currently running the new version for testing to make sure I didn't miss any issue I caused, and will do a gradual rollout (seems the Chrome Web Store has this as a new feature) following that.

This re

[2020-06-20 20:20] infokiller opened #157 "Release 0.4.x for Firefox"
Related Chrome issue: #156

@mancze I tested the latest master branch on Firefox and it worked in basic tests, but it would be great if you could also do it, and if everything seems fine, release it after a few days. Chrome added a gradual rollout feature which I will use for this release (for example you can release to only 20% of users initially), not sure if Firefox supports it.

BTW, I used `w

[2020-06-20 20:33] infokiller commented on #149
I get an error unpacking it because the filename is too long:

<details>
  <summary>error log</summary>

[code]
</details>

BTW, did you test the extension in Firefox?
I found that there is a very nice way to run the extension automatically in a separate browser profile in a single command (supports both Chrome and Firefox):

[code]

[2020-06-20 21:24] Olshansk commented on #149
1. The yarn command required me to install web-ext first:

`npm install web-ext`

2. Here is the output of `yarn run web-ext run --source-dir src --start-url 'https://www.google.com/search?q=whatever' --target chromium`:
[whatever.zip](https://github.com/infokiller/web-search-navigator/files/4808574/whatever.zip)

Still didn't work. Note that I deleted a few of the long filenames.

3. Works fine o

[2020-06-20 22:22] infokiller commented on #149
That should have been handled by the `git pull` and `yarn install`, not sure why it didn't work.

Thanks, unfortunately I can't reproduce it :(

![image](https://user-images.githubusercontent.com/10516814/85212664-aaf90b80-b35d-11ea-8dec-9ec9742ecfea.png)

[2020-06-20 22:43] infokiller commented on #149
The only other thing I can think of is to add very detailed logging, then have you run it and check the output.
I can quickly push a test branch with this code, and then you can run `git pull && git checkout debug` to get it.
Are you up to it?
Sorry for all the trouble, not being able to reproduce it is making it hard.

[2020-06-21 02:25] eggbean commented on #145
I have built it using yarn, but I am not sure what I am supposed to do afterwards.
After building the only difference seems to be the contents of `,/node_modules`. Is that right?

[2020-06-21 02:38] infokiller commented on #145
The contents of `node_modules` change when you run `yarn install`, but after you run `yarn build` it should also add a few more files to the `src` directory.

Anyway, I actually discovered a method that is easier and safer from mistakes. First cd to the project directory and then:

[code]

This will open a new browser profile with only the extension already loaded.

[2020-06-21 09:02] eggbean commented on #145
Could you package this so that I can try it? Thanks.

[2020-06-21 14:39] Olshansk commented on #149
Definitely. We've already spent so much time on this we should get to the bottom of it!

[2020-06-21 21:23] infokiller commented on #145
[wsn.zip](https://github.com/infokiller/web-search-navigator/files/4810283/wsn.zip)

[2020-06-22 06:10] eggbean commented on #145
Excellent. Thanks, it's working fine now 😃

[2020-06-22 06:57] eggbean commented on #133
Really great that this is working as well now. But if I can suggest what I think would be a minor improvement:

When you highlight a picture and press ENTER, the preview pane opens on the right. Once the preview pane is closed again using ESC, instead of the previous thumbnail being selected, the search text entry box is.

[2020-06-22 08:07] LaPeste commented on #82
I built from source, loaded as unpacked and enabled the setting for startpage, but it doesn't work for me.
I use Brave 1.10.93 based on Chromium 83.0.4103.106 on Ubuntu.

Is there more that I should do?

[2020-06-22 08:08] infokiller commented on #133
Yes @eggbean I agree the search box should not be selected in this case. I will try to fix it.
Re the thumbnail outline highlighting, that's actually the built in behavior of image search, the results navigation of the extension is disabled there right now (which is why you can only navigate with arrow keys and not the keys configured in the extension).
I'll see if I can fix that too before the ne

[2020-06-22 08:39] infokiller commented on #82
@LaPeste you need to enable it in the options page (right click extension icon, then options)
I think the error you see is OK (chrome not happy about firefox specific setting).
BTW the best way to test is using `web-ext` (doesn't affect your current browser profile and opens a new browser profile with only this extension installed), see https://github.com/infokiller/web-search-navigator#building-f

[2020-06-22 09:14] LaPeste commented on #82
When I wrote "enabled the setting for startpage" I meant that I went in the options as recommended by you and enabled startpage. But it doesn't work. Do you think that using 'web-ext' would help with the current problem? How?

[2020-06-22 09:51] infokiller commented on #149
That's the spirit! I'll add detailed logging and send you an archive to extract and load.

[2020-06-22 09:56] infokiller commented on #82
I'm opening a new issue to track this.

[2020-06-22 09:56] infokiller opened #160 "Issue in Startpage on Brave"
I built from source, loaded as unpacked and enabled the setting for startpage, but it doesn't work for me.
I use Brave 1.10.93 based on Chromium 83.0.4103.106 on Ubuntu.

Is there more that I should do?

======================
UPDATE
I see that there's a warning and an error:

**Error**: Uncaught (in promise)
Context
_generated_background_page.html
Stack Trace
webext-dynamic-content-scripts.js:1 (

[2020-06-22 09:57] infokiller commented on #160
@LaPeste questions:

- Do you see any related errors in the dev console or in the
- Does it work in regular Chromium?
- Does it work in Firefox?

Re your earlier question, using `web-ext` will help because it guarantees that the issue is not related to any other extension or setting you have.

[2020-06-22 10:24] infokiller commented on #149
Alright, I added logging and pushed it to a separate branch: `debug-149`. Please run this as following from your local git repo directory:

[code]

And then check the dev console for logs that start with `wsn: `. Here's what I'm seeing:

![image](https://user-images.githubusercontent.com/10516814/85277174-a29eee80-b48b-11ea-8277-3b3284763c32.png)

[2020-06-22 10:26] infokiller commented on #149
Alright, I added logging and pushed it to a separate branch: `debug-149`. Please run this as following from your local git repo directory:

[code]

And then check the dev console for logs that start with `wsn: `. Here's what I'm seeing:

![image](https://user-images.githubusercontent.com/10516814/85277288-d2e68d00-b48b-11ea-8bda-b6eba8bc23cc.png)

[2020-06-22 10:34] infokiller opened #161 "Google image search: escape behavior in image preview should close preview"
Really great that this is working as well now. But if I can suggest what I think would be a minor improvement:

When you highlight a picture and press ENTER, the preview pane opens on the right. Once the preview pane is closed again using ESC, instead of the previous thumbnail being selected (which would be preferable), the search text entry box is.

I think it would also be nice if the selected t

[2020-06-22 10:39] infokiller commented on #161
@eggbean I made the outline thicker and added results navigation (which means you can configure the keybindings in the extension options as an alternative to Google's keybindings).
However, fixing the opening of the search box with escape will probably not go in to the next release and may take more time to fix. This issue will track progress.

As a workaround, you should be able to just leave the

[2020-06-22 11:52] eggbean commented on #161
Yes, I seem to have this update already, so I suppose it must be server based.

I have just noticed that once I remove ESC as the alternative shortcut to focus on the search box, this behaviour stops, and now the extension works pretty much perfectly as I would like 😃

[2020-06-22 12:12] eggbean commented on #161
Actually. there are issues.

Sometimes there are two types of highlighted thumbnail.  There is the black outlined one, from the extension, but when the preview pane is opened, the selected and highlighted thumbnail is a blue shaded box (preferable aesthetically). When the preview pane is closed with ESC, then both both highlighted boxes often remain, both independent of each other.

Also, it is no

[2020-06-22 14:22] infokiller commented on #161
Yes, this issue will be slightly complex to fix in a clean way. My suggested workaround is to always navigate with the extension keys (up/down and j/k by default), and if you want to navigate when the preview pane is open, navigate to the image you want with the extension keys (which will only move the black outline, the shaded blue with not move), then press space/enter to load it to the preview.

[2020-06-22 17:34] infokiller commented on #56
I just implemented an experimental setting of custom CSS rules on master.
There are still some limitations because CSS doesn't support parent selectors, so you will have to style the element that is currently chosen by the extension, but I encourage you to try it out to see if you can implement what you want.
I will close this bug after this is released in Chrome.

[2020-06-24 08:44] LaPeste commented on #160
- There is only 1 error in the dev console, but it's always there regardless if web-search-navigator is on or off:
`dsearch?query=ff&cat=web&pl=opensearch:1 Unchecked runtime.lastError: Could not establish connection. Receiving end does not exist.`
- It works in Chromium
- It works in Firefox
- it works with `yarnpkg run web-ext run --source-dir src --start-url 'https://www.startpage.com/do/dsearc

[2020-06-24 14:47] infokiller commented on #160
Thanks for the detailed debugging @LaPeste
I'll try to fix it for the other themes

[2020-06-24 16:18] infokiller commented on #160
I pushed a fix for this. Closing now, but feel free to reopen if it doesn't work for you.

[2020-06-24 16:18] #160 closed

[2020-06-24 20:17] infokiller opened #166 "Github: focusing on the search box causes results navigation keybindings to stop working"

[2020-06-25 07:43] LaPeste commented on #160
Great! I tried and it works for the theme I use. I haven't tried the rest but I assume it's fine.

1 more things that's completely unrelated:
when the search on startpage (sp) loads, the first entry is already selected. I'd assume I can click enter to open it right away, but this won't work. Instead, I need to give an interaction with arrows before I can "enter" any link.
I just checked google sea

[2020-06-25 16:39] infokiller commented on #160
I just fixed it. The issue was that startpage is stealing focus from the extension.x, but I implemented a workaround.

[2020-06-26 05:01] Olshansk commented on #149
@infokiller Sorry for the delay on this, but I finally managed to run the branch you created. I'm seeing an error but no logs prefixed with wsn.

<img width="1904" alt="Screen Shot 2020-06-25 at 9 59 38 PM" src="https://user-images.githubusercontent.com/1892194/85822217-33e1bf80-b72f-11ea-9ce2-e118c11724e1.png">

[2020-06-26 16:46] infokiller commented on #149
No worries, thanks for trying that.
This error looks unrelated, it seems like the extension isn't activated by Chrome for some reason. In the devtools if you go to "Sources" tab and then the "Content scripts" section, do you see the extension?
Here's how it looks on my computer:
![image](https://user-images.githubusercontent.com/10516814/85881063-b5942480-b7e5-11ea-81b4-005a8054683a.png)

[2020-06-26 18:25] #30 closed

[2020-06-26 18:25] #56 closed

[2020-06-26 18:25] #61 closed

[2020-06-26 18:25] #92 closed

[2020-06-26 18:25] #122 closed

[2020-06-26 18:25] #133 closed

[2020-06-26 18:25] #134 closed

[2020-06-26 18:25] #145 closed

[2020-06-26 18:25] #156 closed

[2020-06-27 00:50] Olshansk commented on #149
I've confirmed that `/web-search-navigator/src` has all the necessary files, but nothing shows up under content scripts!

I execute it via `yarn run web-ext run --source-dir src --start-url 'https://www.google.com/search?q=whatever' --target chromium`.

![Screen Shot 2020-06-26 at 5 49 11 PM](https://user-images.githubusercontent.com/1892194/85910716-5f1eea00-b7d5-11ea-80ae-58b121dd3d69.png)

[2020-06-27 07:12] infokiller commented on #149
Thanks for the screenshots, they're very helpful.
Yes, launching it with `web-ext` is the best way to test it, keep doing that.
Let's try to figure out why the content script is not loaded. Content scripts are loaded based on the URL and the extension manifest, so let's check that:

- What is the full URL that you see when you click on the address bar? You need to click on the address bar because

[2020-06-27 17:06] Olshansk commented on #149
https://www.google.com/search?q=whatever

Yup!

![Screen Shot 2020-06-27 at 10 06 17 AM](https://user-images.githubusercontent.com/1892194/85927904-e4e67800-b85d-11ea-9c34-31f02e54163a.png)

[2020-06-27 18:05] infokiller commented on #149
It seems like the problem may be that your Google URL doesn't have the `www.` prefix. This is strange... Maybe Google is experimenting with removing it.
Can you check that this is the case when you put the cursor at the end of the URL in the address bar?

Here's how it looks for me without selecting it (the `www.` is hidden):
![image](https://user-images.githubusercontent.com/10516814/85928960-ada

[2020-06-27 18:10] infokiller commented on #149
I just pushed a change to the `debug-149` branch that makes the extension handle a missing `www.` (though we didn't verify yet if this is indeed the issue). You can try the new version using:

[code]

Then like before, check if the content script is loaded.
If that still doesn't work, try to check if `co.uk` works:

[code]

(And again, check if the content script is loaded)

[2020-06-27 21:39] Olshansk commented on #149
Progress! However, the extension still doesn't work...

The content script was loaded:
<img width="1904" alt="Screen Shot 2020-06-27 at 2 38 01 PM" src="https://user-images.githubusercontent.com/1892194/85932770-e6c33200-b883-11ea-82a7-f7f98ea6132e.png">

And we even had some logging:
<img width="1904" alt="Screen Shot 2020-06-27 at 2 38 17 PM" src="https://user-images.githubusercontent.com/189219

[2020-06-28 10:15] infokiller commented on #149
Based on the logs it should work, but you may not see the search result highlighting because it doesn't select dictionary results or people also ask. There was also an issue with video results that I fixed and merged into the debug branch, so please run `git pull origin debug-149` again. Questions:

1. Can you please report the full `google.com` URL that you see when you put your cursor at the end

[2020-06-29 03:51] Olshansk commented on #149
https://www.google.co.uk/search?q=whatever

<img width="1904" alt="Screen Shot 2020-06-28 at 8 44 47 PM" src="https://user-images.githubusercontent.com/1892194/85970751-3c7d0480-b980-11ea-9bf7-1b8119a259c0.png">

It works!

Doesn't work on `google.com`, but the exact same code & flow works on `google.co.uk`. I confirmed that the content script is not being loaded.

<img width="1904" alt="Screen Sh

[2020-06-30 11:12] infokiller commented on #149
I'm baffled... it works in `google.com` in Firefox, but not in Chrome. But then in Chrome it works in `google.co.uk` and not `google.com`, even though the permissions seem to be set correctly (as seen in the extension page).

[2020-06-30 11:44] infokiller commented on #157
0.4.7 is released for Chrome (and 0.4.5 was released a few days prior).
@mancze can I help with the firefox release?

[2020-06-30 16:29] Olshansk commented on #149
I reloaded the extension using web-ext reloaded and tried a lot of different domains that I found in the `manifest.json` file. All of them worked except for `.com`.

For `.com`, the extension was greyed out and the content scripts weren't loaded.

Do you have any other suggestions for avenues I could investigate?

[2020-06-30 17:54] infokiller commented on #149
I don't have very good ideas, but here's what I would test:

1. Run the `web-ext run` command, and then when you're in the `google.com` page, execute in the Chrome dev console `Boolean(window.location.href.match(/\/\www\.google\.com\/search/))` and report if it prints `true` or `false`
2. What does `chrome://version` report?
3. Can you test [Chrome Beta](https://www.google.com/chrome/beta/) or Chr

[2020-07-01 03:14] Olshansk commented on #149
1. `true`
2. `83.0.4103.116 (Official Build) (64-bit)`
3. Given my findings above, I actually just discovered that my normal chrome with the normal app installed works on all google domains except for `.com` where the content scripts don't get loaded.

I think it's time to give up...

[2020-07-01 06:47] infokiller commented on #149
Alright, sorry I wasn't able to resolve it /:

[2020-07-01 06:47] #149 closed

[2020-07-01 18:33] beracira commented on #166
Does the search box here refer to the address bar of the broswer or the typing area of google search result?
I have been having issues with the extension since roughly a week ago. Some keybindings (enter for the first result) still work, but majority (up and down to select) does not.
Based on the issue descritption, I have tried using tab key to shift focus to other objects. But it doesn't seem to

[2020-07-01 19:58] infokiller commented on #166
This bug is about the HTML search input element of the page, but only for Github.
Does your issue happen in Google?
Is this for Chrome or Firefox? which version?
Can you add a screenshot of your extension options?

[2020-07-01 20:06] beracira commented on #166
Yes

Chromium: 80.0.3987.173

I'm using the default options.

After digging into the options, adding delay in the advanced option seems to fix the problem.

[2020-07-13 15:50] volosovich opened #173 "c chapter doesn't work on SERP"
When I use your addons on the search result page (SERP) doesn't work c key. This key works when I switch off your addons.
Version 83.0.4103.116 (Official Build) (64-bit)

[2020-07-13 16:03] infokiller commented on #173
I can't reproduce, do you mean typing c in the search box?
Can you screenshot the keybindings you have set in your extension options?

[2020-07-13 18:42] volosovich commented on #173
yes.
Steps to reproduce:
1 search something on google
2 on the search result page try to type c chapter
macOS 10.15.5

![111111](https://user-images.githubusercontent.com/1928765/87340919-6b36d580-c551-11ea-8b59-18ebd6db4ce2.gif)
![image](https://user-images.githubusercontent.com/1928765/87341030-96b9c000-c551-11ea-814e-a60c618ef800.png)
![image](https://user-images.githubusercontent.com/1928765/8

[2020-07-14 09:35] infokiller commented on #173
I think I know what the issue is, and I just released a new version (0.4.9) which should fix it, though it may take a few hours for the update to take effect (you can check in `chrome://extensions` the extension version).
You can also try to go to the options and click "save" or "restore to defaults" which should fix it.

[2020-07-14 14:18] volosovich commented on #173
awesome, fixed

[2020-07-14 15:17] #173 closed

[2020-07-18 19:35] jyclam opened #179 ""j" key is not moving to next result, but "k" key is moving to next result instead of previous"
**Web search navigator**
Version 0.4.11 through Chrome stoe

**Chrome**
Version 84.0.4147.89 (Official Build) (64-bit)

Is this fixed in Version 0.4.13?

[2020-07-18 23:56] infokiller commented on #179
Yup

[2020-07-19 02:47] jyclam commented on #179
Awesome :)

[2020-07-19 02:47] #179 closed

[2020-07-19 08:44] infokiller commented on #179
It seems that the new version was approved and released a few hours ago.
Can you please verify that the issue is fixed?
To verify that the extension was updated, go to <chrome://extensions/?id=cohamjploocgoejdfanacfgkhjkhdkek> and check that version is set to `0.4.13`

[2020-07-19 17:05] jyclam commented on #179
Yep! Version 0.4.13 fixes this issue. Thanks for being super quick on the fix

[2020-07-20 05:18] infokiller commented on #179
Apologies for introducing it in the first place :)

[2020-08-03 18:12] mancze commented on #157
Yup, I'm on it. Sorry for the delay.

[2020-08-03 19:04] mancze commented on #157
v0.4.13 has been just published: https://addons.mozilla.org/en-US/firefox/addon/web-search-navigator/versions/ .

[2020-08-03 19:04] #157 closed

[2020-09-08 11:10] tiagorodriguessimoes opened #210 "How much effort will it require to make it work with GitHub?"
I really like this extension and I use it daily. I'd like to have it working when I'm navigating on github.

I want to navigate between projects (results of a search), to jump between comments (on pull requests), etc

I can also contribute to make it happen if necessary.

[2020-09-09 07:09] mancze commented on #210
When you open options for the add-on in your browser you can enable it for Github under Alternative search engines. You can give it a try. However, I don't use it for Github so I'm not sure whether it works well or not.

[2020-09-09 08:42] tiagorodriguessimoes commented on #210
Thank you!

[2020-09-09 18:20] #210 closed

[2020-09-29 21:26] psygo opened #217 "The YouTube Kbd Nav Extension: a way of better integration with YouTube"
I'm a big fan of this extension. And, so, I decided to create [my own for YouTube][youtube_kbd_nav].

I know you guys already have some support for YouTube, but I think that something more specific would be better and easier to manage, otherwise this extension might become too big.

At any rate, I hope that what I did there can shine a light on some useful functionalities. Take a look and tell me

[2020-10-01 10:48] infokiller commented on #217
Thanks for reaching out! I'll play with your extension once I get a few minutes to spare for this, but it makes sense that a separate extension will work better.

[2020-10-11 21:20] GienekWspanialy opened #219 "Startpage: next/previous navigation stops working once the selection goes to the last result on screen"
This happens (on my PC) only on some search phrases like [this one](https://www.startpage.com/do/dsearch?query=fiber+modality).
Once the selection rectangle selects the last result on the screen (not on the page) the next/previous navigation stops working. The selection rectangle is not fully visible on screen – the bottom line is not visible while scroll bar remains on top. Other shortcuts still

[2020-10-12 01:24] yuanLeeMidori commented on #91
Hi! I'm interested in working on this feature. Please let me know if you still need help. Thank you.

[2020-10-12 02:28] infokiller commented on #91
Thanks @yuanLeeMidori that would be great, feel free to work on this, and see the [dev notes](https://github.com/infokiller/web-search-navigator#development).

[2020-10-16 13:02] infokiller commented on #219
@GienekWspanialy I can't reproduce this using your link: it works fine for me. I just added a [troubleshooting section](https://github.com/infokiller/web-search-navigator#troubleshooting) to the README, can you please follow it and report back?

[2020-10-17 18:58] GienekWspanialy commented on #219
@infokiller Thanks for the response. The extension is great and the bug is not problematic in real-life (I posted about it because it happened to me in like a third search after installation, otherwise I probably wouldn't notice it at all) :)

I'm not able to follow the troubleshooting section: after the last command that runs the "clean" browser (in my case it's Firefox) I can't enable experiment

[2020-10-18 21:36] yuanLeeMidori commented on #91
Hi, @infokiller,
I believe the options for **Larger than** and **Exact size** have been removed from Google Chrome last year. In that case, I would only be working on the keyboard shortcuts of **Large**, **Medium**, and **Icon**.

If this is okay for you, I will send the PR after I run the modified files with ESLint. Thank you.

[2020-10-18 21:38] infokiller commented on #91
Sure, no pressure, and I welcome any contributions so thank!

[2020-10-19 11:59] mniborsk commented on #91
Hi @yuanLeeMidori, thank you so much for working on this!

In case it helps, it is still possible to filter by precise resolution via the url. For example, adding `&tbs=isz:lt,islt:4mp` at the end of the url in an image search page looks for images that are at least 4 megapixels in size. That string can be modified for any positive integer. I only mention this because the default "Large" option in

[2020-10-21 01:39] infokiller commented on #219
Thanks a lot for the detailed steps, that's very useful!
I'm pretty sure I know why this bug happens and I'll try to fix it.

Just one question about following the steps I added to the README: so you ran `yarn run web-ext run --source-dir src --target firefox-desktop`, but then what was the issue? what do you mean by experimental features?

[2020-10-21 17:09] GienekWspanialy commented on #219
Sure, glad I could help! :+1:

Once the clean browser with Web Search Navigator runs, the Startpage support needs to be enabled. The screenshot below shows my current setup, so the boxes are already checked, but this was not possible in the clean browser instance run by the command – the boxes were not grayed-out (they seemed to be active) but clicking did not check any of them (I tried all of the

[2020-10-23 13:11] infokiller commented on #219
Thanks for the screenshot, this really helps!
I discovered a bug I introduced that caused the issue with enabling the optional permissions, and not it should be fixed.

[2020-10-23 15:38] infokiller commented on #219
Alright, I was able to reproduce the issue, but unfortunately it looks like it may be a Firefox bug. I added a workaround in the code which may fix it, although with a small cost: the bottom part of the search result may be hidden a bit by Firefox showing the URL of the selected result. Here's how it may look like:

![image](https://user-images.githubusercontent.com/10516814/97023620-70e38480-155e

[2020-10-24 20:07] GienekWspanialy commented on #219
Yep, seems that both problems are solved. I was able to enable Startpage and I could no longer reproduce the bug that locked the rectangle.

Thank you! :+1:

I'm not sure who should close the issue (I don't know the Github customs). I hope it's ok for me to leave it open, just in case you want to make some more changes related to this issue.

[2020-10-25 07:45] infokiller commented on #219
Great, thanks for testing it!
I'll close the issue after this is released to Firefox. I'll need to do some testing before to make sure everything still works, so it may take a few weeks.

[2020-10-25 07:47] infokiller commented on #219
BTW: as a workaround for your issue, I found the I can just hold the navigation key (for example the "Down" key) when it's stuck, and after 1-2 seconds it's no longer stuck. Maybe this will make things better for you till the fix is deployed.

[2020-11-16 00:23] eggbean opened #229 "I, V, M, N key shortcuts not working"
For the last week or so the key shortcuts for viewing the Images, Video, Maps, New, etc tabs on the Google SERPs page have not been working. I had to wait until I could test on another computer and OS before making this issue. I can confirm that it isn't working on Linux or Windows. I am not sure what else has broken.

[2020-11-16 23:33] infokiller commented on #229
Yes, it seems that this is caused by a change in the HTML of Google. I pushed a new version for Chrome yesterday that should fix this (it does for me), can you please check it?

[2020-11-16 23:35] infokiller commented on #229
@mancze can you please do another release for Firefox as well?

[2020-11-17 19:57] mancze commented on #229
Yup, I'm on it.

[2020-11-17 20:12] mancze commented on #229
New version for Firefox released.

[2020-11-17 23:13] eggbean commented on #229
Yes, it seems to be working well now. Thanks.

[2020-11-18 10:22] infokiller commented on #219
@GienekWspanialy the new version is now released in both Chrome and Firefox

[2020-11-18 10:22] #219 closed

[2020-11-19 17:04] infokiller commented on #229
Seems this is broken again now because of yet another Google update. I fixed it on master again and will release another version for Chrome.
@mancze can you please release another version for Firefox?
Sorry for asking again, I hope this time the fix is more robust to changes in Google's DOM.

[2020-11-19 17:23] infokiller commented on #229
I just released it for Chrome.

[2020-11-19 17:24] infokiller opened #232 "Video cards navigation is broken"
Seems that Google made some DOM changes that broke it.

[2020-11-23 07:55] mancze commented on #229
No trouble. Version 0.4.17 released for Firefox.

[2020-12-02 08:15] #229 closed

[2020-12-14 21:19] amadionix opened #240 "Clicking i/m etc doesn't get me to images/maps etc."
It just adds these characters into the search bar. I'm using the latest Firefox on Ubuntu. Do you know why is that?

[2020-12-15 08:46] infokiller commented on #240
No, can you please try the troubleshooting steps? https://github.com/infokiller/web-search-navigator#troubleshooting

[2020-12-17 18:19] blakeelias opened #241 "Startpage functionality in Firefox?"
Hi all,

This is more of a question than a bug. This was the only place I could find to contact the developers, so thought I'd just post here.

I'm curious if using the Firefox extension (downloaded from here: https://addons.mozilla.org/en-US/firefox/addon/web-search-navigator/) allows tabbing through search results on Startpage.com. The README mentions support for Startpage.... but when I load th

[2020-12-18 17:25] infokiller commented on #241
Hi, did you enable StartPage support in the extension options?

[2020-12-18 17:41] blakeelias commented on #241
Oh.... didn't know I had to do that.

I'll go check those options and let you know-- hopefully that should do it, I guess!

________________________________
From: infokiller <notifications@github.com>
Sent: Friday, December 18, 2020 12:25 PM
To: infokiller/web-search-navigator
Cc: blakeelias; Author
Subject: Re: [infokiller/web-search-navigator] Startpage functionality in Firefox? (#241)

Hi, did

[2020-12-19 02:32] blakeelias commented on #241
Alright, I enabled it now and it works!
Maybe some messaging about this in the description that shows up in the
Firefox extensions install page?

--
Blake Elias

On Fri, Dec 18, 2020 at 12:41 PM Blake M Elias <eliasb@mit.edu> wrote:

[2020-12-19 08:52] infokiller commented on #241
Thanks for the feedback @blakeelias, I added a clarification in the docs, and we will update it in the Chrome and Firefox pages in the next release
@mancze: can you please use https://github.com/infokiller/web-search-navigator/blob/master/assets/browser_stores_description.txt to update the description now or in the next release?

[2020-12-19 08:53] #241 closed

[2021-02-24 07:43] eggbean opened #253 "Currently the sections in the 'More' pull down menu do not work from the All page"
The shortcuts for the sections that appear in the 'More' pull-down menu (which change according to the search results) do not work from the All page, but they do work from other sections. It doesn't matter that they work from the other sections as much as the All section, as you can always navigate to All, where it would be nice to always rely on the shortcuts working.

I love this extension and u

[2021-02-24 07:52] infokiller commented on #240
Closing for lack of response

[2021-02-24 07:52] #240 closed

[2021-02-24 07:54] infokiller commented on #253
Thanks for reporting, I'll try to fix it when I get a chance

[2021-04-06 15:29] benjaminclauss opened #262 ""?" should open keyboard shortcuts"

[2021-04-16 13:10] Anteus opened #264 "Edge extension is old 0.4.13"
Version 0.4.13 on Microsofts store
https://microsoftedge.microsoft.com/addons/detail/web-search-navigator/inkjbmhmeghalgpacijccmbmbclkjgop

Works fine to install the Chrome one though.

[2021-04-16 13:27] infokiller commented on #262
Thanks for proposing this feature, I agree it will be good to have it, though I likely won't have time to do it myself in the near future. You can see a more up to date list of keyboard shortcuts here: https://github.com/infokiller/web-search-navigator#keybindings

[2021-04-16 13:28] infokiller commented on #264
Thanks for reporting. @rik-smeets can you please release a new version for Edge?

[2021-04-18 06:08] q2apro commented on #46
I am using the spacebar to scrolldown on all pages.

This way of scrolling gets broken with the plugin.

Please do not use the spacebar to open links.

Leave the default behavior: Scroll on spacebar hit.

[2021-04-18 10:06] rik-smeets commented on #264
I have just submitted the newest version for publication in the Microsoft Store. Should be done within 7 days from now.

I wasn't aware that newer versions were published since I didn't see any new release here on GitHub. The latest one published here is still [0.4.13](https://github.com/infokiller/web-search-navigator/releases). I don't use Google Chrome anymore so I didn't notice the extension w

[2021-04-18 10:15] infokiller commented on #264
Thanks! Yeah, I didn't add new releases to Github, though I do use git tags that show up there.

[2021-04-22 10:37] infokiller commented on #264
Looks like it was updated, closing

[2021-04-22 10:37] #264 closed

[2021-04-22 10:42] infokiller opened #267 "Navigation gets stuck when inline images are large"
Example query: `"deploying systemd at scale"`

[2021-06-23 13:50] r357 commented on #64
Tried converting current release of this extension with Safari Web Extension Converter (Xcode 12.5.1) using:

`xcrun safari-web-extension-converter <folder>`

..but I encounter an error:

`Unable to parse manifest.json at …`

Any hints?

[2021-08-13 15:38] bulutfatih opened #292 "Brave Search support"
Since I switched my main search engine from Google to Brave Search, I miss this extension and accessibility on search results. I would like to see this extension working on Brave Search.

I already implemented this feature and ~~will open~~ opened a pull request.

[2021-08-14 06:27] infokiller commented on #292
Thanks a lot, merged
Will take me some time to make a new release and test it, but you can run it from a local build for now. I'll keep this issue open till I make the new release.

[2021-08-14 10:35] jewel109 opened #294 "can it be possible to navigate the suggestion of what i typed on searchbar, with j/k?"
suppose i searched in firefox typing node then the browser give me some suggestion like // node.js , node.js learning etc// .
I want to navigate these suggestion using j/k.

is that possible?

[2021-08-14 10:44] jewel109 commented on #294
i got it.

it was solved by pressing tab key.

[2021-08-14 10:44] #294 closed

[2021-08-20 12:52] bulutfatih commented on #292
@infokiller I didn't update Brave to descriptions. Do you want me to do that, or can you do it?

[2021-08-20 13:31] infokiller commented on #292
Do you mean the README? just updated it

[2021-08-20 13:36] bulutfatih commented on #292
README.md, manifest.json, browser_stores_description.txt
I think these files should be updated. 🤔

[2021-08-20 15:01] infokiller commented on #292
Thanks, forgot about manifest.json. Updated it too and other files (including CHANGELOG.md).

[2021-08-26 11:26] infokiller opened #296 "YouTube results navigation is broken"

[2021-09-02 03:10] hikmet517 opened #297 "Extension does not work for some queries"
For example, when I search "brooklyn nine nine", I can't navigate or see anchor. But, when I unchecked the option "Include Cards" it starts working again.

I'm using Firefox 91.0.2 on Arch Linux.

[2021-09-02 11:28] infokiller commented on #297
Thanks for the report, I can confirm. Will try to fix ASAP.

[2021-09-03 13:39] LaPeste opened #298 "On Startpage issue while navigating through the results"
On Startpage selecting a result below what's visible on the screen doesn't make the window scroll down. Oddly, the opposite isn't true: when going upward through the search results, if the next result isn't visible on screen, the window DOES scroll up.

[2021-09-03 14:47] infokiller commented on #297
Fixed on master, now I need to release a new version.

[2021-09-03 15:15] infokiller commented on #298
Confirmed there's an issue, but I'm not sure how to fix it. Startpage seems to misbehave when scrolling to a search result, for example when using `document.querySelectorAll('a.w-gl__result-url')[7].scrollIntoView()`. Personally I'm not using Startpage and would be happy if a regular user could maintain its support (which is experimental to begin with).

[2021-09-03 15:20] infokiller commented on #296
OK this actually works from a test I just did, but it's hard to see the frame of the current selection with a dark background.
@jinusean does it not work for you? did you enable support in the options?

[2021-09-03 15:21] infokiller commented on #292
@mancze I'm about to do a Chrome release, please do the same for Firefox

[2021-09-03 15:22] infokiller commented on #267
May have been the same issue as https://github.com/infokiller/web-search-navigator/issues/297
Can't reproduce

[2021-09-03 15:22] #267 closed

[2021-09-03 15:57] infokiller commented on #253
@eggbean I just tested it and it mostly works for me:

- Books works
- Flight works
- Shopping works
- Finance is broken but will be fixed in 0.4.18 (due to be released soon)

Can you please check again and let me know if you see something different? If so, can you please provide a URL for testing?

[2021-09-04 04:00] jinusean commented on #296
Sorry but i've switched over to youtube specific extension for youtube.

[2021-09-04 04:21] jinusean opened #299 "Periodic issues on search page"
Every now and then the extension does not work on the search page, and this is the output in the console.

[code]

[2021-09-04 10:27] infokiller commented on #299
Duplicate of #297
Fixed on master, awaiting release for Chrome and Firefox

[2021-09-04 10:27] #299 closed

[2021-09-04 20:25] eggbean commented on #253
Thanks for keeping this updated. I have been constantly using this, so I already know that it does not work perfectly, but usually works well enough. eg. https://www.google.com/search?q=open+house+london

* When on the Images tab, Maps doesn't work, but if I go back to All and then press M it works.
* Generally, anything in the More dropdown hardly ever works.
But those things are not very importa

[2021-09-05 10:33] infokiller commented on #253
Thanks for the details @eggbean that's very helpful.
I discovered a race condition that indeed causes the links in the More dropdown to not always work (it's not consistent). I will try to fix this and release it in 0.4.18.

However, I can't reproduce the issue of navigating to the Maps tab when in the Images tab in this query. Can you please follow the steps in https://github.com/infokiller/web-s

[2021-09-05 10:41] infokiller commented on #217
@psygo I finally had some time to test it, so I started a new Chromium profile and installed it as the only extension but it didn't work (see screenshot below). As for feedback, what would probably be missing for me is the ability to change keyboard shortcuts (I don't see any extension options).

![image](https://user-images.githubusercontent.com/10516814/132123834-c63f1155-087a-4473-bacb-c9d12f54

[2021-09-05 10:41] #217 closed

[2021-09-05 11:10] infokiller commented on #253
@eggbean I just fixed the More pulldown issue on master

[2021-09-05 14:13] psygo commented on #217
Sorry that it didn't work. But could you please tell me what the problem really is? Because I still use this extension to this day, and it is still working over here &mdash; and I use the Chrome Store version.

What exactly were you trying to test in the screenshot above? The <kbd>z</kbd> and <kbd>x</kbd> shortcuts, I suppose?

Yes, I wanted to add this as a new feature at some point, but didn't h

[2021-09-05 14:14] infokiller commented on #97
@eggbean can you please test this again? it works for me now

[2021-09-05 14:50] infokiller commented on #292
@bulutfatih I wanted to take this opportunity to get your feedback as a first time contributor: how was the experience of adding a new search engine? were the docs in the README ok?
If there's anything that can be improved, please let me know.

Thanks

[2021-09-05 15:03] infokiller commented on #217
My bad, it does work- I just didn't guess the shortcuts are `z` and `x` (tested `j`/`k` and up/down).

[2021-09-05 17:42] bulutfatih commented on #292
It took time to understand the logic, how things work. Maybe we should add more comments to important functions or improve the documentation in the `search_engines.js` file.
Targeting the highlight element and the container was a bit difficult. I figured it out after a few tries.
Reference commit wasn't clear, I read the code of Google and Startpage.
Need better eslint and prettier configurations.

[2021-09-05 17:51] infokiller opened #300 "Improve docs for adding a search engine"
It took time to understand the logic, how things work. Maybe we should add more comments to important functions or improve the documentation in the `search_engines.js` file.
Targeting the highlight element and the container was a bit difficult. I figured it out after a few tries.
Reference commit wasn't clear, I read the code of Google and Startpage.
Need better eslint and prettier configurations.

[2021-09-05 17:56] infokiller commented on #300
Thanks for the feedback @bulutfatih
A few follow-up questions:
- Did you read the documentation at the top of https://github.com/infokiller/web-search-navigator/blob/master/src/search_engines.js? if so, why was it lacking?
- Was targeting the highlight/container elements difficult because the documentation is unclear?
- What is missing in the eslint and prettier configs?

[2021-09-05 17:58] infokiller opened #301 "Migrate to manifest v3"
Manifest v3 landed in Chromium stable 88 (released on January 2021). It's unclear when v2 will stop working.
We need to be careful about Firefox having support: https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/

[2021-09-05 18:26] bulutfatih commented on #300
- I read it, but I don't remember now why I thought so. Maybe it was difficult not because of documentation but html structure and lack of selectors in search engine.
- Prettier doesn't work for me. It gives this error when I try to format. `Extension 'esbenp.prettier-vscode' is configured as formatter but not available. Select a different default formatter to continue.`
Also, it would be nice to

[2021-09-06 11:02] #300 closed

[2021-09-06 11:15] infokiller commented on #300
I added an NPM script for linting. Seems that the error you get is related to VSCode, not sure what's wrong there, but I'll add VScode config as well

[2021-09-06 14:28] LaPeste commented on #298
Thank you for answering so quickly. I really enjoy your work and also enjoy Startpage, so it seems a good idea that I contribute to this project. I can't make promises, but I want to give it a try.

Thank you for all.

[2021-09-06 17:51] mancze commented on #292
@infokiller Done, version 0.4.18 available for Firefox: https://addons.mozilla.org/cs/firefox/addon/web-search-navigator/

[2021-09-06 17:52] mancze commented on #292
Uhm, actually I think this issue was not closed before my comment. I got a little confused, sorry. Reopening for that reason.

[2021-09-06 18:01] infokiller commented on #292
Thanks @mancze
Yes the Chrome review is taking some time, I'll close the issue once it's released there

[2021-09-06 20:59] psygo commented on #217
I didn't use <kbd>j</kbd>/<kbd>k</kbd> because they were already taken by YouTube's UI.

[2021-09-07 07:24] #91 closed

[2021-09-07 07:24] #232 closed

[2021-09-07 07:24] #253 closed

[2021-09-07 07:24] #292 closed

[2021-09-07 07:24] #297 closed

[2021-09-13 05:13] kleenkanteen opened #307 "Keybindings with some numbers not working"
Here is my keybindings:

![web search](https://user-images.githubusercontent.com/67878058/133027186-7f741024-dcf8-4c68-933b-19a57e719ba0.JPG)

So doing z 0 together does sort by last hour. But z 7, z 8, and z 9 do not work. I tried doing z+7 instead and so on for the rest but no banana. I have checked my other extensions and none use the same or any of the same numbers for shortcuts. Am bamboozled

[2021-09-13 07:06] infokiller commented on #307
I can't reproduce this issue. Please follow https://github.com/infokiller/web-search-navigator#troubleshooting and report back

[2021-09-15 08:14] moritzgvt opened #310 "Dedicated shortcut for "Did you mean" result"
Currently there is no option to select the "Did you mean" result Google provides, when there's a typo in the searched phrase.

Workaround:
A current workaround to this is to hit "Shift+Tab"on the first search result. This will focus on the "Did you mean" result. Now press enter for submission. However that won't work when a sponsored result is shown before the proper results (which is the case dis

[2021-09-15 08:36] kleenkanteen commented on #307
When troubleshooting I get this error in the second part:

[code]

I tried doing this and got this error:

`$ yarn add web-ext
yarn add v1.22.11
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.13: The platform "win32" is incompatible with this module.
info "fsevents@1.2.13" is an optional dependency and failed compatibility check. Excluding it from installation.
error esli

[2021-09-15 08:51] infokiller commented on #307
I don't know but it seems like the nodejs version you have installed is incompatible. Maybe try installing one of the "Expected" versions from the error message.
Alternatively, you can just create a new browser profile (check Chrome docs if needed) and only add this extension.

[2021-09-15 23:11] kleenkanteen commented on #307
Ok I downloaded the LTR version of node, 14.17.6. Also installed the visual studio build tools which I hadn't last time. maybe that was the issue. So now doing troublshooting works when I wrote `yarn run web-ext run --source-dir src --target chromium`. And the numbers worked as shortcuts. I went to my main browser and disabled vimium and now it works fine. It is odd though because in vimium I unma

[2021-09-16 09:09] infokiller commented on #307
Thanks @kleenkanteen I will close this issue since it's unrelated to this extension.

[2021-09-16 09:09] #307 closed

[2021-09-28 07:42] infokiller commented on #310
If the "Did you mean" link will be added to the navigatable search results (so that you can press down/j to reach it like a regular link), would it solve your issue?

[2021-09-28 08:10] moritzgvt commented on #310
That'd be sufficient I think. But I wouldn't change it to the first focussed element – as it's really handy to just hit enter to select the first result.

[2021-09-29 07:18] infokiller commented on #310
I've been thinking about this and I'm not sure what's the best UI for this. As you say, changing it to the first focused element may be annoying for some users. I could add an option to control this (whether it should be the first focused element or not), would that work for you?
A dedicated shortcut is possible (as in your original suggestion) but I would guess not many users will use it this way

[2021-09-29 09:16] moritzgvt commented on #310
I think the best outcome for me as a user would be a dedicated shortcut.

Personally I get the "Did you mean" option quite often … don't know if this is dependent on the locale maybe or if I just need to learn typing without making mistakes 😅

Let's see, if some other users also have this problem or if it's just me. Won't make sense to have that changed for one user only. Maybe I find some time to

[2021-11-12 01:08] srikat commented on #64
Got it working in Safari via https://www.youtube.com/watch?v=V5UPRseAhq4 and https://stackoverflow.com/questions/39524148/xcode-error-code-signing-is-required-for-product-type-application-in-sdk-ios.

[2021-12-05 15:43] infokiller commented on #301
Deadline seems to be January 2023: https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/

I'm still not sure about the support status in Firefox.

[2021-12-06 17:22] iitjee opened #336 "Google's "I'm Feeling Lucky" feature"
There used to be a feature on Google called "I'm feeling lucky" which direclty takes you to the first result, skipping the results page. Would love to see such a feature in this extension. Shouldn't be really difficult to implement I guess.

PS: Hugely appreciate your work. Easily one of my favorite extensions. Kudos!

[2021-12-06 18:21] iitjee opened #337 "Youtube search results wont show the wrapper box"
On an existing video page, if we search for a new query, the resulting page doesn't show the white box wrapper. However on refresh it does

[2021-12-08 16:58] infokiller commented on #336
Shouldn't be difficult to implement, with the caveat that the extension will need to navigate to the search results page and only then navigate to the first result. I guess there is some complexity to understand whether the first result also applies to cards, inline answers and stuff like that.

I welcome PRs that implement this, but I personally don't have much interest in this feature, because n

[2021-12-08 16:59] infokiller commented on #337
Thanks for reporting, confirmed.

[2021-12-13 09:29] BorntraegerMarc opened #340 "Arrow not visible for Google Search results"
See attached screen recording:

The arrow is only visible for the Google News section. I was navigating down with the arrow keys and selected the `Coronavirus Test BAG` result. Even though the arrow was not visible I was still able to hit `Enter` and get to the web page

https://user-images.githubusercontent.com/7549295/145786376-ad56a1a9-7074-416a-9c52-318bc9120ddd.mov

[2021-12-13 09:32] infokiller commented on #340
I can't reproduce it so maybe Google put you in an experiment.
Can you please try the changes from https://github.com/infokiller/web-search-navigator/pull/339/files and report if it works?
Note you can edit your CSS rules in the extension options, you don't need to build/install anything else.

[2021-12-13 09:38] BorntraegerMarc commented on #340
@infokiller With that CSS the Google Search works but the Google News not anymore

https://user-images.githubusercontent.com/7549295/145787824-667724ef-5caf-4c52-b30f-c0566e0f7561.mov

[2021-12-13 09:44] infokiller commented on #340
Thanks! I will try to see if I can find a way to reproduce that.
If you have some experience with CSS and you can give me a configuration that works, that would be great.

[2021-12-27 20:49] tiktuk commented on #64
Yeah, @srikat, would love to try your port!

[2022-01-16 16:23] Reintjuu commented on #298
I don't know if I should be opening a new issue for this, but the same thing currently occurs to me using Google Search when trying to scroll down using the arrow keys.

[2022-01-16 16:39] infokiller commented on #298
@Reintjuu did you try the troubleshooting steps?
https://github.com/infokiller/web-search-navigator#troubleshooting

[2022-02-17 03:23] nsrCodes opened #357 "No UI indicator when navigating though recommended sub pages"
unlike #97 the existing key bindings work when the top search result also has other pages to recommend, but the navigation arrow is not visible when navigating through them.

_Results like these :_
![Screenshot from 2022-02-17 08-50-56](https://user-images.githubusercontent.com/57226514/154398731-82b94372-0e96-45d1-aac3-9ad08a831dca.png)

_crude demo_
![web-navigator](https://user-images.githubuse

[2022-02-17 03:51] nsrCodes commented on #296
Seems to still be broken. Keybindings seem to work neither on home nor on search results. Tried
- Incrementally increasing delay on extension initialization upto 2 seconds
- Reloading _( as it seemed to work for someone here - #337 )_

[2022-02-20 01:26] infokiller commented on #357
Hi, thanks for the clear bug report, I was able to reproduce it. I'll try to fix it ASAP

[2022-02-20 01:33] infokiller commented on #296
@nsrCodes home wasn't implemented, but search results are. I also see unstable behavior but when I set the delay to 500 ms I  can no longer reproduce it.
Can you try to reload a few times and see if it works sometimes? that's the behavior I saw without the delay (with a delay it always works).
Anyway, a proper fix should be implemented so I'll reopen.

[2022-02-20 01:35] infokiller commented on #340
@BorntraegerMarc are you still able to reproduce this issue?

[2022-02-21 07:44] BorntraegerMarc commented on #340
I've reset the extension to defaults now & I still have the behaviour as described in my [last comment](https://github.com/infokiller/web-search-navigator/issues/340#issuecomment-992277458)

https://user-images.githubusercontent.com/7549295/154910204-db2cf510-f1dd-4136-a5fb-c3137d90e232.mov

[2022-02-21 08:50] infokiller commented on #340
Thanks @BorntraegerMarc I'm able to reproduce it now- apparently this works when using dark mode so I missed it earlier:

![image](https://user-images.githubusercontent.com/10516814/154920212-1c3eaed4-e153-4bdd-b2bf-1da858267689.png)

[2022-03-19 17:58] dakellyad opened #365 "Navigate through popup windows which appear on new websites"
Something I've found with using this extension is that so many websites that you open for the first time will have either a popup to ask for your cookie/data uses choices, or "disable adblocker", and you can't navigate through these with your keyboard, destroying the whole point of using your keyboard for google.
This might be quite a stretch as it would require extending the scope of this extensi

[2022-03-19 22:48] infokiller commented on #365
Seems way out of scope for this extension, have you tried uBlock Origin with easylist-cookies enabled?

[2022-03-19 22:48] #365 closed

[2022-04-06 06:49] cerenkeklik commented on #64
have you found any solution about that?

[2022-04-06 06:51] r357 commented on #64
Sadlo, no :/ switched to chrome cause I really missed this feature.

On Wed, 6 Apr 2022 at 08:49, Ceren ***@***.***> wrote:

[2022-05-07 01:06] infokiller commented on #296
@nsrCodes I believe this should be fixed now, if you can test the latest dev version and confirm it would be great, see https://github.com/infokiller/web-search-navigator#building-for-development

[2022-05-07 01:06] infokiller commented on #337
@iitjee  I believe this should be fixed now, if you can test the latest dev version and confirm it would be great, see https://github.com/infokiller/web-search-navigator#building-for-development

[2022-05-07 01:07] infokiller commented on #340
@BorntraegerMarc   I believe this should be fixed now, if you can test the latest dev version and confirm it would be great, see https://github.com/infokiller/web-search-navigator#building-for-development

[2022-05-07 01:07] infokiller commented on #357
@nsrCodes I believe this should be fixed now, if you can test the latest dev version and confirm it would be great, see https://github.com/infokiller/web-search-navigator#building-for-development

[2022-05-07 17:12] nsrCodes commented on #357
Yup, works perfectly now. Thanks

[2022-05-07 17:19] nsrCodes commented on #296
Everything works perfectly. Tried both by manually installing the build and also running the `web-ext` command (on both chrome and firefox) . Thanks 😄

[2022-05-08 14:35] infokiller commented on #296
Thanks a lot @nsrCodes for testing this so quickly! I'll publish a release soon with the fixes and will close this issue once it hits the store

[2022-05-08 14:40] infokiller commented on #337
OK, this is actually not fixed yet- will try to fix it now

[2022-05-08 15:22] infokiller commented on #337
Now it should be fixed in the dev version

[2022-05-09 07:05] infokiller commented on #301
As of today (2022-05-09), Firefox still doesn't seem to have (good?) support for MV3. I played with using symlinks to create two different source directories, one for Firefox and one for Chrome, which use symlinks to the source files, but it failed and it [seems like an issue with Chrome](https://codereview.chromium.org/343003).
This means that as long as Firefox doesn't support MV3, we won't be a

[2022-05-09 08:58] BorntraegerMarc commented on #340
Thx @infokiller! I’d rather wait for the official release & test then, though. (no time at the moment to build dev version)

[2022-05-09 17:36] infokiller opened #380 "Release v0.4.20 for Firefox"
@mancze 0.4.20 which was just released in the Chrome Web Store fixes multiple issues (see https://github.com/infokiller/web-search-navigator/blob/master/CHANGELOG.md for a few of them), so it would be great to have a firefox release as well.

Also, for future releases, can you please add me as an Author of the extension in the Firefox Developer Hub?
This way I won't have to bother you with a new r

[2022-05-09 17:38] infokiller commented on #340
@BorntraegerMarc no worries, the new version was just released (you will probably get it automatically in a few hours top)

[2022-05-09 17:38] #296 closed

[2022-05-09 17:38] #337 closed

[2022-05-09 17:38] #340 closed

[2022-05-09 17:38] #357 closed

[2022-05-10 06:47] BorntraegerMarc commented on #340
Seems to be working now. Thx!

[2022-05-21 09:05] mancze commented on #380
I've built and uploaded a new version for Firefox. Hopefully it will be approved soon.

[2022-05-21 09:10] mancze commented on #380
I'll happily add you as an author to Firefox store, let's agree on the email to use over email.

[2022-05-21 11:19] infokiller commented on #380
@mancze thanks! I confirm I got your email to gsearch.navigator and I'll respond there

[2022-05-22 17:18] nsrCodes opened #382 "Navigating youtube results with playlists"
If the results of a youtube query has playlists, I was expecting to be able to `ctrl` + `Enter` to open the playlist on a new tab and further navigate from there.

![youtube-playlist-navigation](https://user-images.githubusercontent.com/57226514/169707351-c27b9265-7a74-4856-9af3-e1b8c3c779dc.gif)

[2022-05-22 22:42] infokiller commented on #382
Thanks for reporting this issue!
I think I fixed in the current master version, if you can verify that would be great. As a reminder, follow [infokiller/web-search-navigator#building-for-development](https://github.com/infokiller/web-search-navigator#building-for-development) (if you cloned the repo previously, you will need to `git pull`).

[2022-05-24 06:39] nsrCodes commented on #382
Yeah the latest master has this fixed for both chrome and firefox. Sorry for the redundant issue 😓

[2022-05-24 07:12] infokiller commented on #382
Don't be sorry- I only fixed it after you reported it, so thanks!
I will probably make a new release in the next few days. I'll keep this issue open till then.

[2022-05-24 07:31] #380 closed

[2022-05-26 09:23] infokiller commented on #382
Just released it to Chrome, will do it for Firefox as well

[2022-06-03 11:12] infokiller commented on #382
Released for Firefox, closing

[2022-06-03 11:12] #382 closed

[2022-06-03 11:14] infokiller commented on #301
It seems we're also blocked on https://github.com/fregante/webext-dynamic-content-scripts/issues/18

[2022-06-04 00:24] nsrCodes opened #389 "Trigger infinite scroll on youtube home page"
While navigating through the youtube home page, we can only navigate the initially loaded results.
The home page has infinite scroll and since the current navigation method does not actually scroll to the end of the page (even when we reach the last available result), new result are not currently loaded

One solution could be to try to align the highlighted result at a particular level. I think co

[2022-06-04 00:42] nsrCodes opened #390 "Search result indicator not visible when results have ads"
The experience feels lost especially when there are multiple ads

Bug demo: (_If not clearly visisble, look at the bottom left to see the result I am currently on_)

https://user-images.githubusercontent.com/57226514/171969725-36f047c1-4c76-4de2-b052-768cd4139854.mp4

[2022-06-04 08:22] infokiller commented on #390
Thanks, confirmed.
More generally I've been thinking whether ads should be in the navigation or not. My inclination is to navigate them by default, and maybe add an option that disables ad navigation.

[2022-06-04 08:30] infokiller commented on #112
@benwoodward do you still use the extension, and if so are you still interested in this feature?
I also use both this extension and Vimium (actually https://github.com/gdh1995/vimium-c). I never run into this issue because I only "scroll" with this extension's shortcuts in Google (but I do use Vimium navigation commands elsewhere). Have you tried this?
I'm open to merging a PR adding an option to

[2022-06-04 08:35] infokiller commented on #389
Thanks, confirmed

[2022-06-09 06:14] nsrCodes commented on #390
Ya I would like to disable ad navigation too if possible. This would be great

[2022-06-09 08:52] infokiller commented on #390
Now that I think about it, it may also be nice to have an (opt-in and experimental) option to outright remove the ads.
Not sure when I'll get to implement this though.

[2022-06-09 08:53] infokiller commented on #390
Here's an OSS extension that has the ability to remove google ads: https://github.com/EECSB/Google-Search-Customizer

[2022-06-11 01:13] nsrCodes commented on #389
@infokiller were there any efforts made on any branch to implement `scroll_lookahead` as mentioned here - https://github.com/infokiller/web-search-navigator/issues/35#issuecomment-427666259

This could be solved by setting a lookahead size of 1 and instead of looking ahead just the result (in case of normal navigation) we could look ahead a complete row of results (for a grid navigation in case of

[2022-06-11 07:36] infokiller commented on #389
No efforts made so far. Your approach sounds good.

[2022-06-11 22:49] infokiller opened #397 "Google: top result not navigated for some queries"
Example query: `beta distribution parameterization`

[2022-06-25 16:33] jackhodkinson commented on #64
I have figured out how to get the converter to work but the extension is not working as expected on Safari.

1. I cloned the repo `git clone https://github.com/infokiller/web-search-navigator`
2. I ran the converter *from the `src` directory* `xcrun safari-web-extension-converter --macos-only .`
3. This created an Xcode project which complied successfully and prompted me to activate it from Safari

[2022-06-25 18:27] jackhodkinson commented on #64
I did a bit of debugging and it looks like the program is hanging the first time `Mousetrap` is called.

I modified this part of the code with the log statement:

[code]

And my console output is only this:

[code]

So it looks like `Mousetrap` is hanging and `bindingKeys` is never completing. Any tips?

[2022-06-25 20:02] jackhodkinson commented on #64
One more update: I have a new error message in my console. Not sure why it was not coming up before but now I'm seeing this:

[code]

I think I have not installed the dependencies correctly before converting this to a Safari extension.

[2022-06-26 04:53] infokiller commented on #64
@jackhodkinson just a guess, but did you run `yarn install && yarn build`?
See https://github.com/infokiller/web-search-navigator#building-for-development

[2022-06-26 14:39] jackhodkinson commented on #64
Thank you @infokiller that worked! 🎉

Steps to make this work:
1. clone repo
2. run `yarn install && yarn build`
3. run `xcrun safari-web-extension-converter --macos-only .` from the `src` directory
4. xcode will automatically launch with a new project
5. run the Xcode project (`command-r`)
6. launch Safari
7. Enabled unsigned extensions by going to Develop > Allow Unsigned Extensions in the menu

[2022-06-26 16:12] infokiller commented on #64
Thanks @jackhodkinson for making it work and documenting the process!
I'll update the README with a link to your comment above (warning this best-effort and not really supported).
Regarding packaging, I don't object it, but I don't think it's required yet since this is only suitable for "power users".
If I'll have some free time, I'll look into running MacOS in a VM, testing the extension, creatin

[2022-06-28 07:15] #397 closed

[2022-06-28 07:57] infokiller opened #403 "Add option to control ad navigation"
See #390

[2022-07-04 10:06] nsrCodes opened #405 "Youtube search result navigation broken"
**Bug**: When navigation the search results on youtube the up and down navigation seem to jump a few steps whereas the left and right arrows work correctly. But this is unintuitive.

**Predicting**: I haven't looked into it yet, but I am assuming it's happening because the `griddNavigation` boolean for the Youtube search engine object isn't set to false after being routed from the youtube home pag

[2022-07-04 10:19] nsrCodes opened #406 "Google search results with Google job embeds"
When job related searches that sometimes have a google job dialog embedded between the results, the hotkeys navigate through both the jobs (_which is still acceptable_) and the filter tags

https://user-images.githubusercontent.com/57226514/177135053-d0bfefa5-1510-4693-9839-ac13b5734a6c.mp4

[2022-07-04 18:05] infokiller commented on #406
Thanks for reporting! I can't trigger the jobs widget, not sure if this is an experiment or I just need to access it from another location, but I'll try with a VPN

[2022-08-29 14:18] Anteus commented on #264
It happened again

[2022-08-29 16:36] infokiller commented on #264
@Anteus can you install the one from the Chrome web store?
@rik-smeets can you please upload a new version?

[2022-08-29 17:10] Anteus commented on #264
Thanks I already swapped over to try it on Brave

[2022-08-31 18:32] rik-smeets commented on #264
@infokiller I tried uploading a new version, but the manifest version in use (2) is no longer supported for Microsoft Edge. It has to be 3.

I'm not sure when I'll get around to updating that, is it something you're already planning to do in the near future?

[2022-09-01 08:22] infokiller commented on #264
Yes, I plan to do it, you can track #301

[2022-09-01 18:02] rik-smeets commented on #264
Alright, thanks. Will track that. Will upload a new version whenever it hits a.s.a.p.

[2022-09-03 01:15] MahdiNazemi opened #427 "[Feature Request]"
Is it possible to have a "fancy" highlight option similar to [this code](https://github.com/jchafik/google-search-shortcuts/blob/edb7b18978dc9fb5654309cd1d547471ed80fb8a/css/highlight.css) used in [this extension](https://chrome.google.com/webstore/detail/google-search-keyboard-sh/iobmefdldoplhmonnnkchglfdeepnfhd)?

Screenshot:
<img width="1080" alt="Screen Shot 2022-09-02 at 6 11 52 PM" src="http

[2022-09-03 08:13] infokiller commented on #427
The extension supports custom CSS rules (see the experimental section in the extension options). Can you try to use that to implement this?

[2022-09-04 17:44] MahdiNazemi commented on #427
I tried that before posting this feature request here, but I had no luck. I will give it another shot and report back here if I find a solution.

[2022-09-04 18:04] MahdiNazemi commented on #427
I could partially get it to work by adding the following CSS:

[code]

The only problem I have noticed is that the padding and margin settings do not apply to results with a video preview from YouTube.

[2022-09-04 20:08] infokiller commented on #427
Thanks for trying this. For videos results, you probably need to override the CSS of `wsn-google-focused-card` (some Google result types have a different CSS class, you can find them by searching for `google` in the CSS).

I'll try to make it work when I get some free time and let you know if I succeed, but that may take a while (I'm far from a CSS expert)

[2022-09-04 22:08] MahdiNazemi commented on #427
Thanks for the hint. I tried a few things, but none of them worked.

I'm in the same boat; I will continue to try to resolve the issue and share a working solution if I find one.

[2022-09-04 22:25] MahdiNazemi commented on #427
This seems to work for all cases so far:

[code]

[2022-09-15 02:46] margunwa123 opened #429 "[Feature Request] Search Navigator for StackOverflow"
It would be nice to have keybindings to search through stackoverflow questions/ answers as well. Some ideas for keybinding:
j & k -> next / previous answer and replies
J & K -> next / previous answer
/ -> go to searchbar
c -> add comments
Any ideas for this? Thank you!

[2022-09-16 00:38] infokiller commented on #429
I'm open to adding support, but personally I won't have time to implement it or maintain it.
If you're interested in implementing it, see https://github.com/infokiller/web-search-navigator#adding-a-new-search-engine for a reference for how to add a new search engine. The keybinding for "add comments" is probably out of scope for this extension.

[2022-09-16 00:39] infokiller commented on #427
@MahdiNazemi does it still work in all cases you've run into?

[2022-09-16 00:49] MahdiNazemi commented on #427
@infokiller, yes! Should I close the issue?

[2022-09-16 01:11] infokiller commented on #427
Great, I'll close it now :)

[2022-09-16 03:55] margunwa123 commented on #429
I see, thank you for the input @infokiller , I'll try to read it and will keep updates on this issue

[2022-09-26 05:37] margunwa123 opened #434 "Add pre-commit for formatting & linting"
Hello! I have noticed that there is no pre-commit hook installed on this repo, and when running `yarn check`, i got this error:
<img width="828" alt="image" src="https://user-images.githubusercontent.com/54434884/192200596-e54f745a-d001-4a6d-898c-40ca4c2e7f76.png">

I'm thinking on creating a pull request that have
- some pre-commit hooks (using husky),
- adding lint-staged to auto-add linted / fo

[2022-10-02 01:36] MahdiNazemi opened #436 "[Bug Report] WSN gets stuck on Google's relevant questions box"
When searching for "BinaxNow" on Google, I can use the <kbd>J</kbd>/<kbd>K</kbd> keys to navigate the results until I get to Google's related questions. After that, I can use <kbd>J</kbd> to go up but cannot use <kbd>K</kbd> to go to the following results.

This happens on Brave 1.44.105 and WSN 0.4.22.
I can reproduce the issue on Firefox 105.0.1 too.

[2022-10-02 10:10] infokiller commented on #436
Thanks for reporting
I can't reproduce it because I don't get related questions (you may be on a google experiment or it's just geo differences), but I'll try more queries to reproduce it

[2022-10-07 00:57] MahdiNazemi commented on #436
You are welcome!

I don't get it either, even when I run the same query.
It was similar to the "People also ask" section that Google sometimes shows, but it had a COVID badge at the top.

[2022-10-12 08:31] davidp88 opened #439 "Custom arrow"
Custom arrow size,as it's now slightly small to see

[2022-10-12 08:45] infokiller commented on #439
This can be achieved using custom CSS (see https://github.com/infokiller/web-search-navigator/issues/427 for reference)

[2022-10-12 08:45] #439 closed

[2022-10-12 09:22] davidp88 opened #440 "Settings"
Export all settings and import all,useful when moving addon to new pc

[2022-10-12 09:41] infokiller commented on #440
Note that if you are logged in to your account (Google account in Chrome, Microsoft account in Edge, etc.), the settings are synced

[2022-10-12 10:48] davidp88 opened #441 "Auto save"
auto save all options

[2022-10-12 11:06] infokiller commented on #441
This is controversial so I'm moving to a discussion

[2022-10-12 11:56] davidp88 commented on #440
If I'm logged in ff are all settings of all addons synced

[2022-10-13 17:20] davidp88 commented on #439
drfgggfgf

[2022-10-16 10:40] davidp88 commented on #439
427 reference is for vertical line, I added and saw

[2022-10-16 11:01] davidp88 commented on #440
answer

[2022-10-16 12:34] infokiller commented on #440
they are for me, but you'll have to check with firefox docs for details

[2022-10-16 12:35] infokiller commented on #439
I don't understand your comment, if you want to make changes to the arrow you need to tweak the CSS

[2022-10-16 14:14] davidp88 commented on #439
pls provide the code

[2022-10-16 14:51] infokiller commented on #439
No time for this

[2022-10-16 15:20] davidp88 commented on #439
after a few days,give

[2022-10-16 15:25] infokiller commented on #439
No time, locking issue

[2022-11-01 12:01] davidp88 opened #448 "Arrow size"
Increase arrow size by 1 or 2 pixels,to look well

[2022-11-01 12:07] infokiller commented on #448
You'll need to figure this out with custom CSS

[2022-11-01 12:34] Anteus opened #450 "Firefox restart Brave loses permission"
On Firefox when restarting the browser the permission for Brave doesn't work. It's still toggled in settings but only a retoggle of the permission or a disable and enable of the extension makes it work again until the next restart. Have checked and the extension is not injected into the Brave search page after a restart of Firefox. Tried with all other addons disabled and reset privacy settings.

[2022-11-01 13:25] infokiller commented on #450
Thanks for the report, are you able to reproduce this in Chrome?

[2022-11-01 13:42] Anteus commented on #450
No it works fine in Chrome/Edge.

[2022-11-01 20:16] infokiller commented on #450
OK great, I was able to reproduce this. Hope to fix it soon

[2022-11-01 20:18] infokiller commented on #436
@MahdiNazemi did you run into this again?
I'll close the issue for now since I can't reproduce, but if you are able to reproduce, please reopen, and a screenshot would be great.
Thanks

[2022-11-01 20:18] #436 closed

[2022-11-01 20:41] MahdiNazemi commented on #436
Thanks for following up. I Googled the same query but never got the same related questions box again. I will take a screenshot if it happens again.

[2022-11-04 10:44] Anteus commented on #450
Got it working in Firefox. Will propose the fix upstream too.
https://github.com/fregante/webext-content-scripts/blob/73094bd60792f8fcce5515d6fbfef6725d6f4132/index.ts#L129

[2022-11-04 12:24] Anteus commented on #450
It worked while running the debugger from VSCode with a Firefox profile but not when loaded manually.

[2022-11-06 18:14] infokiller commented on #450
No idea, possible a Firefox bug?
Maybe worth checking on older Firefox versions

[2022-11-06 18:30] infokiller commented on #450
Turns out I'm not even able to see the content script in the debugger, even from a new Firefox profile

[2022-11-06 18:54] Anteus commented on #450
I got it working by removing background persistent=false it's in the updated pull request. If you open the debugger about:debugging#/runtime/this-firefox you can see that the script is not running after a restart. You can trigger it to run by enable/disable the extension, or in the debug menu chose inspect and then hit the update button. But I think it will be stopped in a few minutes again.

[2022-11-06 20:01] infokiller commented on #450
For me, removing `persistent=false` doesn't change anything. Debugging the extension does work with `web-ext`, so maybe the issue is specific to my firefox config/state.

[2022-11-06 20:23] Anteus commented on #450
Forgot to add that I've only tried on Firefox Dev as temporary addons get removed on restart.

[2022-11-06 20:54] Anteus commented on #450
Event pages doesn't seem to be supported yet.
https://github.com/fregante/webext-dynamic-content-scripts#usage
https://github.com/fregante/webext-dynamic-content-scripts/pull/40
Maybe could try
https://github.com/fregante/webext-dynamic-content-scripts/pull/40/commits/e6085ecd0e57bc5caf8643f4d78cb18f903b3cf8

[2022-11-08 04:42] MahdiNazemi opened #455 "[Feature Request] Is it possible to add shortcuts for going to the next/previous category of results?"
Some Google search results, usually related to shopping, start with images. WSN selects those images, and one has to press <kbd>j</kbd> a few times, e.g., eight times, before going to the next category of results that links to external sites.
These images are placed periodically after a few links to external sites, so browsing all results with WSN becomes tedious.

I think it would be beneficial t

[2022-11-08 10:32] infokiller commented on #455
I welcome PRs for this (without setting any new default shortcuts- users that want this can set them themselves), but I have little interest in it personally, so unless this gets a massive number of votes I won't prioritize this

[2022-11-15 06:10] #455 closed